/**
* Mandala Audio-Video (Media Admin Editor) - Development
* 
* version 1.x - mediabase-edit-form.css
* -------------------------------------------------------
* University of Virginia / SHANTI MANDALA / AUDIO-VIDEO
* -------------------------------------------------------
* 
*/

/**
* -----------------------------------------------------------------------
* FORM GUIDE - CLASS NAMES for each form group = 'group-name'
* - Title and Description / 'group-title-desc'
* - Media / 'group-media'
* - Transcript / 'group-transcript'
* - Classification / 'group-details'
* - - 'field-name-field-location' = kmaps_filter & kmaps_search
* - - 'field-name-field-subject' = kmaps_search
* - - 'field-name-field-subcollections' = kmaps_search
* - Right & Licensing / 'group-rights'
* - Availability & Access / 'group-availability-access'
* - People and Copyrights / 'group-people'
* - Technical Metadata / 'group-technical'
* - Workflow / 'group-workflow'
* -----------------------------------------------------------------------
*/

/* BEGIN sub-theme (Admin) colors */
.mb-av-form .fancytree-container .glyphicon,
.mb-av-form .fancytree-container .fancytree-node:hover > .glyphicon,
.mb-av-form .fancytree-container .fancytree-node:active > .glyphicon,
.mb-av-form .fancytree-node.fancytree-active > .glyphicon,
.mb-av-form .fancytree-node.fancytree-selected > .glyphicon{
  color: #2db6b4 !important;
}


/* END colors */


/* Page layout */
.mb-av-form #block-system-main.block.block-system { width: 100%; }
.main-content .content-section .view-content { max-width: 100%; }
.page-node-edit.node-type-video.no-sidebars .tab-pane.main-col,
.page-node-edit.node-type-audio.no-sidebars .tab-pane.main-col{
	max-width:1050px !important;
}





.mb-av-form{
	margin: 1rem 1.5rem;
}

/* Accordions: space at top, 'mb-av-form' selectors overide Sarvaka */
.mb-av-form .field-accordion .panel-body{
    padding: 1rem 2rem 2rem;
}

.mb-av-form .field-accordion:first-of-type .panel-body{
	padding-top: 0;
}
/* Note: nested accordions */
.mb-av-form .field-accordion .field-accordion .panel-body{
	padding-top: 2rem;
}

.mb-av-form .group-details.field-accordion .field-accordion .panel-body{
	padding-top:1rem;
}




.mb-av-form .mb_oldthumb {
    display: none;
}

#edit-media-upload-button{
  margin: 7rem 50% 0;
  position:relative;
  left: -4.5rem;
}

.mb-av-form #edit-actions--3{
  margin: 2rem auto 0;
  text-align: center;
  font-size: 1.25em;
}







/* Glyphicon fix - is too general, so need to target */
/*.btn-icon .glyphicon {
	font-size: 1.5em;
	margin-top: -2px;
}*/

.form-type-textfield, 
.field-widget-text-textfield,
.field-widget-options-select{
  padding-bottom: 0.7rem;
}

.form-type-textfield{
  display:inline-block;
}

.form-item.form-type-textfield input.form-text, 
.form-item.form-type-textfield input.form-control{
  display:inline-block;
}






/*--- the block editing icon dropdown for drupal that shows top-right of blocks on-hover ---*/
.contextual-links-wrapper {
  position: absolute;
  top: -0.15rem !important;
}

.contextual-links-wrapper a:hover, 
.contextual-links-wrapper a:active {
  border-bottom: none !important;
}




input.form-inline {
	display: inline;
}





/* USE: Remove button, Mediabase video edit page - Remove button (Trashcan icon) */
.btn-sm.btn-icon.btn-delete {
	float:right; 
	max-width: 3em; 
	max-height: 3em; 
	min-height: 22px; 
	margin: 3em 1.5em 0 0;
}

.btn-sm.btn-icon.btn-delete span.icon {
	position: relative;
	left: -0.78rem;
	top: -1.5rem;
	font-size: 1.56em;
}

.btn-sm.btn-icon.btn-delete span.icon:hover { 
	background-color: red !important;
}












/**
* not sure what this is so commenting it out
#module-filter-tabs a,
#module-filter-tabs a:hover,
#module-filter-tabs a:active {
  border-bottom: none;
}
*/







.form-control.role-weight {
	font-size: 80%;
	width: 4em;
	height: 1.5em;
	line-height: 1.5em;
}

.tabledrag-toggle-weight-wrapper {
	display: inline;
	float: right;
	position:relative;
	top:2rem;
	right:1rem;
	clear:both;
}









.mb-av-form table tr td.permission .form-item {
  line-height: normal;
  margin-top: 0;
}

.mb-av-form table tr.odd.add-new:last-child {
  border-bottom: 20px solid transparent;
}

.mb-av-form tr .form-item {
  line-height: normal;
}


.form-item.form-type-select { padding: 0 0.25em 0 0; }

.form-type-textfield label,
.form-item.form-type-select label{ 
	display:block; 
	font-size: 0.88em; 
	margin-bottom:0.2rem;
	margin-left: 1.5rem;
	margin-top: 1rem;
}

form table td.label {
  padding-top: 0.68em !important;
}












/**
* Textarea 
*/

textarea {
  border: 1px solid #ccc;
}

/* Wysiwyg Hide  double display of toolbar in TinyMCE */
.wysiwygToolbar + .wysiwygToolbar {
    display: none;
}
/* for margin space below textarea - adjustable Rich-text area */
.resizable-textarea .grippie{
  margin-bottom: 0.5rem; 
}

.mb-av-form tr .form-item.form-type-textarea{
  margin-bottom:0.5rem;
}












table.field-multiple-table {
  margin-bottom: 0em;
}

table.field-multiple-table tbody {
  border: 2px solid #ddd;
}


.field-multiple-table .panel-body > div{
  margin: 12px 0px;
}


.field-multiple-table tr.odd,
.field-multiple-table tr.even {
  background: #f7f7f7;
}

/* Title Group */
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle { padding-right:0; width:4rem;}


.field-type-field-collection tr.draggable td div.field-type-text-long {
	width: 70%;
	padding-right:1rem;
}











#kmap_annotation_json {
  margin-left: 2em;
} /* textbox on bottom */


#edit-filter-settings-title {
  margin-bottom: 0 !important;
}







.node-video-form .form-item{
  margin:0;
}

.node-video-form .fieldset-wrapper .form-item{
  margin:1rem;
}

.form-item-field-video-und-0-settings-default-settings-entry-widget{
  margin-left:2rem; /* add space to left of video player in - override format settings > default view mode */
}

#edit-field-video-und-0-button{
  clear: both;
}

.mb-av-form .kaltura_field_thumb::after{
  content: 'Remove';
  color: #777;
  display: inline-block;
  position: relative;
  left: 0;
  top: -0.6rem;
  font-family: helvetica, arial, sans-serif;
  height: 40px;
  font-size: 1.7rem;
  font-weight: bold;
}
/*.page-node-add .mb-av-form .kaltura_field_thumb { display: none; } */
.page-node-add .mb-av-form .kaltura_field_thumb::after{ content: ''; }



.mb-av-form .field-accordion:first-child .panel-body .field-video-add-more-wrapper p{
  max-width: 40rem !important;
  display: inline-block;
}









.node-audio-form .mb-av-form #accordionedit-field-audio-und-0-settings {
    display: none;
}












/*
.mb-av-form .table-select-processed th:first-child .icheckbox_minimal-red { margin-left: 6px; }

th.checkbox,
td.checkbox { display: table-cell; }

th.checkbox {
  padding-right: 20px;
  padding-left: 5px;
  text-align: left;
  line-height: 1.12em;
  width: 12%;
}
*/

/* td.checkbox .form-type-checkbox > .icheckbox_minimal-red { margin-top: 5px; } */





/* admin make checkboxes plain in features table */
.mb-av-form .content .features .status {
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}








table.sticky-table,
table.sticky-header {
  width: 100%;
}

table.sticky-header{
	position: absolute !important;
}

table.sticky-header th {
  padding-left: 1em;
  position:static;
}

table.sticky-table td {
  background: transparent;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
}

table.sticky-table td ul {
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

table.sticky-table td ul li {
  line-height: 1em;
}

table.sticky-table a {
  border-bottom-width: 1px;
  white-space: nowrap;
  /*font-weight: bold;*/
}





.table-select-processed.tableheader-processed {
  margin-top: 1.5em;
}



.mb-av-form .content table td {
  padding: 5px;
  text-align: left;
}

.mb-av-form .content table.spaces td.option {
  width: 4%;
}

.mb-av-form .content table td.status {
  padding: 0;
}






/* overwrite mb_location-selector module in audio-video */
.location-selector-item {
  padding: 0.2em 0.6em 0.1em 0.4em;
  border: 1px solid #ddd;
  margin-right: 0.3em;
  line-height: normal;
}














.form-item-field-recording-location-new-search-term { width: 100%; }









.mb-av-form .bootstrap-select.btn-group .dropdown-menu li>a{
	line-height: 2em;
	height: 2em;
}

.mb-av-form .bootstrap-select.btn-group .dropdown-menu li>a:hover, 
.mb-av-form .bootstrap-select.btn-group .dropdown-menu li>a:active{
	/*background: #e0e0e0;*/
	color:#000;
}

.mb-av-form .bootstrap-select.btn-group .dropdown-menu dt{
	padding: 6px 20px 4px 14px;
	background-color: #eee;
	font-weight: bold;
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;

	/* target collection smenu single top header , but will look for exceptions to this model and address those seperately */
	padding: 8px 20px 4px 14px;
	border-top: none;
	border-radius: 0;
}

.mb-av-form .bootstrap-select.btn-group .dropdown-menu .divider{
	margin:0;
}

/* Dropdown with header - Collections selection, reducing space left of list items */
.mb-av-form .bootstrap-select.btn-group .dropdown-menu li>a.opt{
	/*padding-left: 18px;*/
}
/*
.mb-av-form .collection-details-audience .bootstrap-select.btn-group .dropdown-menu li>a.opt{
	padding-left: 15px;
}

.mb-av-form .collection-details-audience .bootstrap-select.btn-group .dropdown-menu li>a{
	font-size: 1em;
}
*/
.mb-av-form .bootstrap-select.btn-group .dropdown-menu li.selected>a, 
.mb-av-form .bootstrap-select.btn-group .dropdown-menu li.selected>a>span.text{
	background-color: #60d2d0;
    background-image: -webkit-linear-gradient(top, #2db6b4 0, #60d2d0 100%);
    background-image: -o-linear-gradient(top, #2db6b4 0, #60d2d0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2db6b4), to(#60d2d0));
    background-image: linear-gradient(to bottom, #2db6b4 0, #60d2d0 100%);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x*/
}










/**
*
* CLASSIFICATION - Details Field Group
*
*/

/* Collections dropdown label */
.field-name-field-og-collection-ref label{
	font-size: 1em;
	margin-left: 1.8rem
}

div#node_video_form_group_details > .panel-body > div, 
div#node_audio_form_group_details > .panel-body > div {
	width: 100%;
	background-color: #f0f0f0;
	padding: 12px;
	margin: 18px 0px;
}

div#edit-group-audience > div.form-item > label {
	font-family: 'museo-sans-700',Helvetica,Arial,sans-serif;
	font-size: 100%;
	text-transform: uppercase;
	color: #555;
	margin: 0 0 0.5rem 2rem;
}

div#edit-group-audience > div.form-item > div.collection-details-audience {
	margin-left: 8px;
}




.group-details .field-name-field-location .kmaps-tt-header .close{
    position: relative;
    top: -11rem;
    right: -2.5rem;
}
.group-details .field-name-field-location .kmaps-tt-header .close::before{
    position: relative;
    right: .5rem; 
    top: 10.1rem;
}
.group-details .field-name-field-location .kmap-typeahead-picker .kmaps-tt-header .close::before{
    position: relative;
    top: 9.8rem;
}




.field-widget-kmap-typeahead-picker .field-type-taxonomy-term-reference > label {
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-bottom: 12px;
	width: 99%;
	font-family: 'museo-sans-700',Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	color: #555;
}

.field-widget-kmap-typeahead-picker .field-type-taxonomy-term-reference > .form-item.kmap-selector .branch-filter {
	margin-top: -12px;
}

.field-widget-kmap-typeahead-picker .field-type-taxonomy-term-reference > .form-item.kmap-selector .browse-link {
	margin-top: -6px;
}







.field-type-taxonomy-term-reference .form-item.kmap-selector label {
	margin-left: 6px;
}

.field-widget-field-collection-hidden {
	display: none;
}

/* KMap Fields */
#field_pbcore_coverage_spatial_location_selector {
	min-height: 60px;
}

.kmap-selector .autocomplete-input label {
	margin: 0px 6px;
}

.form-item.location-selector label {
	margin: 12px 8px 6px 12px !important;
}

.form-item.location-selector .results {
	margin-left: 12px;
}

div.kmap-selector button.selectpicker {
	min-width: 300px;
}

.field-type-file .file-link a{
	font-size: 0.88em;
}

.browse-link a {
	display: inline-block;
	margin-left: -120px;
}

.form-item.kmap-selector a.show-annot {
	font-size: 90%;
	margin-left: 8px;
}

.kmap-selector .autocomplete-input {
	float: left;
}

.kmap-selector .autocomplete-input input, .location-selector .autocomplete-input {
	margin-right: 6px;
}

.location-selector .autocomplete-input{ display:inline; float:left;}

.kmap-selector-item .icon::before {
	font-size: 1.5em;
	vertical-align: middle;
}

.kmap-selector-item,
.location-selector-item {
	line-height: 19px;
	white-space: nowrap;
	margin: 6px 3px 3px 0px;
	padding: 2px 6px 2px 2px;
	color: #404040;
	background-color: #fdfdfd;
	border: 1px #b1b1b1 solid;
	font-size: 80%;
	display: block;
	float: left;
}

.kmap-selector .results {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
	margin-bottom: 8px;
	margin-left: -4px;
}

.location-selector{background:transparent !important;}

.location-selector button.btn.btn-sm {
	float: none;
	width: 25px;
	height: 25px;
	margin: 0px 6px;
}

.location-selector button.btn-remove:hover {
	background-color: red;
}

.location-selector button.btn.btn-sm .icon {
	font-size: 2.5em;
	padding: 0px !important;
	line-height: 2em;
	margin: -0.4em 0em 0em 0em;
	float: none;
	width: 25px;
	height: 25px;
}

.location-selector button.btn.btn-sm .icon.shanticon-magnify {
	font-size: 1.75em;
	padding-top: 4px !important;
}

/* classification section filters */
.form-item-field-location-search-term,
.form-item-field-location-search-filter-associated-subject,
.form-item-field-location-search-filter-feature-type{
	display:block;
}








/**
* Transcript Section 
*/

/* Transcript upload file feature */
.file-widget.form-managed-file {
	padding-left: 1.75em;
}

.form-item-field-transcript-und-0 label{
	margin-left:2rem;
	margin-bottom:0.2rem;
}

.form-item-field-transcript-und-0 label .fa-comments-o:before{
	font-size: 1.5em;
}

input#edit-field-transcripts-xsl-und-0-upload.form-file,
input#edit-field-transcript-und-0-upload--2.form-file{ width:20rem;}

input#field_transcript_value.text-full.form-control.form-inline{
  margin-right: 0.5rem;
  color: #444;
}

.form-item-field-transcript-und-0 button{
	font-size: .75em;
	padding: .38em 1.5em .25em;
	position: relative;
	/*top:3.5rem;*/
	display: inline;
}

.form-item-field-transcript-und-0 .description{
	font-size: 0.93em;
	margin-left: 2rem;	
}







/** Workflow Fields **/
#edit-field-workflow-und-0-field-edl-log-files,
#accordionfield_collection_item_field_workflow_form_group_catalog_record_workflow div.panel-body > div.field-type-text-long,
#field_collection_item_field_workflow_form_group_transcript_workflow div.panel-body > div.field-type-text-long {
	clear: both;
	margin-right: 12px;
	width: 45%;
}

#field_collection_item_field_workflow_form_group_media_workflow div.panel-body > .field-type-text-long {
	float: left;
	width: 45%;
}










/* Availability & Access Section */
.group-availability-access fieldset.date-combo.form-wrapper{
	margin-bottom: 0;
}


.group-rights .field-widget-text-textfield{ padding-bottom: 0 !important; }

.group-rights .form-type-textfield,
.field-name-field-workflow .field-widget-options-select,
.field-type-field-collection .field-widget-options-select { float:left; display:inline; width:33.333%; border-bottom:none;}

#node_video_form_group_rights .form-type-textfield { padding-bottom: 0;}

.field-name-field-workflow .bootstrap-select.form-control,
.field-type-field-collection  .bootstrap-select.form-control { min-width: 15rem; max-width:95%; margin-left:1rem;}

.group-rights .form-type-textfield input.form-text.form-control { width:91% !important; margin-left:0.5rem;}

.field-widget-text-textfield.form-wrapper input.form-text.form-control { max-width:70% !important;}

.field-type-field-collection input.form-text.form-control.date-clear { max-width:100% !important;}

.form-item-field-pbcore-extension-und-0-field-extension-authority-und-0-value .field-widget-text-textfield.form-wrapper input.form-control{ max-width:100% !important;}


div.field-type-field-collection tr.draggable td div[class*="field-type-"] { 
	float: left;
	border: none;
	margin-right:1.5rem;
}




.pagerer_admin_panes_config .form-type-select label {
  display: none;
}















table.field-multiple-table .bootstrap-select.btn-group .dropdown-menu {
  max-width: 25rem !important;
}






/* admin video edit forms section under title and description */
.filter-guidelines{
  padding: 2rem 5em 0 1rem;
}

table.sticky-table .filter-guidelines ul li{
  line-height: 1.5em;
  padding-top: 0.7rem
}




/* BEGIN Typeahead */
.group-transcript .btn-sm.btn-icon.btn-delete{
	margin-top: 3rem;
}

.field-widget-kmap-typeahead-picker .form-type-textfield{
	display:block;
}

.group-details .field-add-more-submit.btn.btn-primary{
	position: relative;
	top: -2rem;
}

/**
* BEGIN Typeahead Menu
*/
.kmaps-tt-menu,
.twitter-typeahead{
	padding-top:0 !important;
	text-rendering: optimizeSpeed;
}

.kmaps-tt-header{
	background-color: #eee;
	font-weight: bold;
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 8px 20px 4px 14px;
}

.kmaps-tt-header:first-of-type {
	border-top: none;
	margin-top: 0;
	border-radius: 0.8rem 0.8rem 0 0;
	display: block;
	width: 100%;
}
/* These are the search headers which have pagers. The filters do not have pagers. */

/* .form-item-field-subcollection-new-search-term .kmaps-tt-header:first-of-type,
.form-item-field-subject-search-term .kmaps-tt-header:first-of-type, 
.form-item-field-location-search-term .kmaps-tt-header:first-of-type{ */
.kmap-typeahead-picker .kmaps-tt-header:first-of-type{
	position: relative;
	height: 60px !important;
	padding-top:1rem;
}

.typeahead-pager.pager{
	font-size: 85%;
	position: absolute;
	right: 0.7rem;
	bottom: 0.4rem;
}

.kmaps-tt-header .close{
	position: relative;
	top: -0.7rem;
	right: -0.5rem;
	opacity: 0.3;
	font-size: 2em;
}

.kmaps-tt-header .close::before{
	content: 'Close';
	display: inline-block;
	position: relative;
	right: 1rem;
	top: -0.65rem;
	/*width: 30px;
	height: 9px;*/
	font-size: 0.44em;
	font-family: arial, tahoma, sans-serif;
}


/* .form-item-field-location-search-filter-feature-type .kmaps-tt-header,
.form-item-field-location-search-filter-associated-subject .kmaps-tt-header{ */
.kmap-filter .kmaps-tt-header{
	padding-top:0.6rem;
}

/* .form-item-field-location-search-filter-feature-type .kmaps-tt-header .close,
.form-item-field-location-search-filter-associated-subject .kmaps-tt-header .close{ */
.kmap-filter .kmaps-tt-header .close{
	position: relative;
	top: -0.4rem;
	right: -1rem;
}

/* .form-item-field-location-search-filter-feature-type .kmaps-tt-header .close::before,
.form-item-field-location-search-filter-associated-subject .kmaps-tt-header .close::before{ */
.kmap-filter .kmaps-tt-header .close::before{
	position: relative;
	right: 0.7rem;
	top: -0.6rem;
}


/**
* BEGIN Typeahead Menu items listed 
*/
/* list items key-word term */
.mb-av-form .kmaps-tt-suggestion .kmaps-term{
	color: #000;
}
/* list items key-word ancestors */
.mb-av-form .kmaps-ancestors{
	display:inline;
	color:#333;
}

.mb-av-form .kmaps-tt-suggestion:hover .kmaps-term,
.mb-av-form .kmaps-tt-suggestion:hover .kmaps-ancestors,
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-selected:hover .kmaps-term,
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-selected .kmaps-term:hover,
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-selected:hover .kmaps-ancestors,
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-selected .kmaps-ancestors:hover,
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-selected .kmaps-term:hover .kmaps-ancestors{
	color:#fff;
}
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-selected:hover{ 
	color:#f0f0f0; 
}
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-zero-facet .kmaps-term,
.mb-av-form .kmaps-tt-suggestion.kmaps-tt-zero-facet .kmaps-ancestors{
    color:gray;
}

.mb-av-form .kmaps-tt-suggestion:hover .kmaps-term,
.mb-av-form .kmaps-tt-suggestion:hover .kmaps-ancestors{
	color:#000;
}



/**
* BEGIN - Technical Metadata > Versions > Dates 
*/

/* editing form techincal metadata */
/* Date created - Date issued */
#node_video_form_group_technical .node-video-form{
  margin: 0 !important;
}

.group-technical fieldset.date-combo .container-inline-date .date-padding{
	padding: 0 0 0 1rem;
}

.group-technical  fieldset.date-combo .container-inline-date > .form-item{
	margin-bottom:0;
}

.group-technical .field-type-datetime{
	width: 49%;
	float: left;
}

.group-technical .field-type-datetime.field-name-field-pbcore-date-available{
	width: 100%;
}

.group-technical .field-type-textfield,
.group-technical .field-widget-text-textfield { 
	float:left; 
	width:33.333%;
}

.group-technical .field-name-field-duration,
.group-technical .field-name-field-file-size,
.group-technical .field-name-field-channel-conf{
	float:none;
}

.group-technical .field-name-field-duration > div,
.group-technical .field-name-field-file-size > div,
.group-technical .field-name-field-channel-conf > div{
	float:left;
}

.group-technical .field-widget-text-textfield.form-wrapper input.form-text.form-control{
	max-width: 94% !important;
}

.group-technical .field-type-text.field-name-field-extension-authority .form-control{
	max-width: 100% !important;
}

/* technical metadata section dates & times */
.group-technical .form-type-date-popup > div > .form-item:nth-of-type(1){
  margin-right: 3rem;
}

.group-technical .form-type-date-popup > div > .form-item:nth-of-type(2) input{
  width: 19rem
}

.group-technical .field-name-field-pbcore-annotation .field-multiple-table td .text-format-wrapper {
	padding: 1rem 3rem 0 0;
}

.group-technical .field-name-field-pbcore-date-available .date-float{
	margin-top: 2rem;
}

.group-technical .field-name-field-pbcore-date-available .date-no-float.start-date-wrapper{
	display: inline;
	margin-left: 5rem;
}




/**
* -----------------------------
* Technical Metadata Fields - migrated from shanti-main-mb.css May 23, 2016
* -----------------------------
*/
.field-name-field-recording-location-new>.field-label-span {
    font-weight: bold;
}

.field-name-field-recording-location-new .field-items-span, 
.field-name-field-recording-location-new .field-items-span ul, 
.field-name-field-recording-location-new .field-items-span li {
    display: inline;
    padding:0px;
}

.mb-identifier.field.field-label-inline.clearfix, 
.mb-identifier.field.field-label-inline.clearfix * {
    float: none;
}

.mb-identifier * {
    display: inline-block !important;
}

.field-name-field-identifier-source, 
.field-name-field-identifier-source .field-items {
    display: inline !important;
}

.field-name-field-identifier-source .field-item {
    display: inline !important;
    font-weight: bold;
}

.field-name-field-identifier, 
.field-name-field-identifier div {
    display: inline;
}

.field-name-field-identifier-source .field-item:after {
    content: ':';
}


.node-type-audio .field-name-field-thumbnail-image .image-preview {
  display: none;
}





/**
* ----------------
* Group Workflow
* ----------------
*/
.group-workflow .panel.field-group-fieldset{
	margin-bottom:1rem;
}






.container-inline-date .description{
	margin-left: 2rem;
}


.modal-content .file-image-form div.vertical-tabs {
    display: none;
}

