
/**
* Mandala Audio-Video - Development
* 
* version 1.x - mediabase-edit-form.css
* ------------------------------------------
* University of Virginia / SHANTI MANDALA
* ------------------------------------------
* 
*/

.page-node-edit .fancytree-container .glyphicon,
.page-node-edit .fancytree-container .fancytree-node:hover > .glyphicon,
.page-node-edit .fancytree-container .fancytree-node:active > .glyphicon,
.page-node-edit .fancytree-node.fancytree-active > .glyphicon,
.page-node-edit .fancytree-node.fancytree-selected > .glyphicon{
  color: #2db6b4 !important;
}

/* typeahead hover color to match subtheme */
.page-node-edit .kmaps-tt-suggestion:not(.kmaps-tt-selected):not(.kmaps-tt-zero-facet):hover{
	background-color: #2db6b4;
}

.kmap_search_button{
  background-color: #5b68ce;
  color: #eee;
  display: inline-block;
  padding: 0.5rem 1.5rem 0.2rem;
  border-radius: .3rem; 
  border: 1px solid #777;
  font-family:'museo-sans-500', helvetica, sans-serif;
  font-size:0.93em;
  margin-left:0.5rem;
}

.kmap_search_button:hover,
.kmap_search_button:active{
  background: #4850bd;
  border-color:#4850bd;
  color:#fff;
}



/* Ajax Loading */
.throbber {
	background: url('../../shanti_sarvaka/images/ajax-loader.gif') center center no-repeat !important;
	background-color: transparent !important;
	width: 3.5rem !important;
	height: 2.5rem !important;
	display: inline-block;
}

/* Glyphicon fix */
.btn-icon .glyphicon {
	font-size: 1.5em;
	margin-top: -2px;
}

input.form-inline {
	display: inline;
}

div.file-widget.form-managed-file > * {
	display: inline;
}

.node-form .form-item .file-widget.form-managed-file {
	padding-left: 1.75em;
}

.node-form .form-item .description {
	padding-left: 1.75em;
}

div.description p{
	font-style: italic;
	color: #000;
}

/*.sticky-table a,
a.ckeditor_links,
a.tabledrag-toggle-weight*/
.page-node-edit .content-section a {
	font-weight: bold;
  	font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}

/* Title Group */
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle{ padding-right:0; width:4rem;}

/*
	div.field-type-field-collection tr.draggable td div[class*="field-type-"] button.dropdown-toggle.selectpicker {
	was ====> div.field-name-field-title button.dropdown-toggle.selectpicker, div.field-name-field-title-type button.dropdown-toggle.selectpicker, div.field-name-field-language button.dropdown-toggle.selectpicker

	width: 90% !important;
	margin-left: 5%;
}
*/

div.field-type-field-collection tr.draggable td div.field-type-text-long {
	width: 70%;
	padding-right:1rem;
}

/* USE: Remove button, Mediabase video edit page - Remove button (Trashcan icon) */
.btn-sm.btn-icon.btn-delete {float: right;max-width: 3em;max-height: 3em;min-height: 22px;margin-left: 3em;}
.btn-sm.btn-icon.btn-delete {margin: 4em 1.5em 0 0;}
.btn-sm.btn-icon.btn-delete span.icon {
	position: relative;
	left: -0.9rem;
	top: -1.6rem;
	font-size: 1.68em;
}
.btn-sm.btn-icon.btn-delete span.icon:hover { background-color: red !important;}

.page-node-edit .btn-sm.btn-icon.btn-delete span.icon.shanticon-trash::before{
	/*position: relative;
	left: 0.62em;
	top: -0.55rem;*/
}

/** Wysiwyg **/
/* Hide double display of toolbar in TinyMCE */
.wysiwygToolbar + .wysiwygToolbar {
    display: none;
}

/* Details Field Group */
/*
div#node_video_form_group_details .panel-body, div#node_audio_form_group_details .panel-body {
	background: inherit;
}
*/
div#node_video_form_group_details > .panel-body > div, div#node_audio_form_group_details > .panel-body > div {
	width: 100%;
	background-color: #f0f0f0;
	padding: 12px;
	margin: 18px 0px;
}

div#edit-group-audience > div.form-item > label {
	font-family: 'museo-sans-700',Helvetica,Arial,sans-serif;
	font-size: 100%;
	text-transform: uppercase;
	color: #555;
	margin: 0 0 0.5rem 2rem;
}

div#edit-group-audience > div.form-item > div.collection-details-audience {
	margin-left: 8px;
}

.group-details .field-type-taxonomy-term-reference > label {
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-bottom: 12px;
	width: 99%;
	font-family: 'museo-sans-700',Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	color: #555;
}

.group-details .field-type-taxonomy-term-reference > .form-item.kmap-selector .branch-filter {
	margin-top: -12px;
}

.group-details .field-type-taxonomy-term-reference > .form-item.kmap-selector .browse-link {
	margin-top: -6px;
}

.field-type-taxonomy-term-reference .form-item.kmap-selector label {
	margin-left: 6px;
}

.field-widget-field-collection-hidden {
	display: none;
}

/* KMap Fields */
#field_pbcore_coverage_spatial_location_selector {
	min-height: 60px;
}

.kmap-selector .autocomplete-input label {
	margin: 0px 6px;
}

.form-item.location-selector label {
	margin: 12px 8px 6px 12px !important;
}

.form-item.location-selector .results {
	margin-left: 12px;
}

div.kmap-selector button.selectpicker {
	min-width: 300px;
}

.field-type-file .file-link a{
	font-size: 0.88em;
}

.browse-link a {
	display: inline-block;
	margin-left: -120px;
}

.form-item.kmap-selector a.show-annot {
	font-size: 90%;
	margin-left: 8px;
}

.kmap-selector .autocomplete-input {
	float: left;
}

.kmap-selector .autocomplete-input input, .location-selector .autocomplete-input {
	margin-right: 6px;
}

.location-selector .autocomplete-input{ display:inline; float:left;}

.kmap-selector-item .icon::before {
	font-size: 1.5em;
	vertical-align: middle;
}

.kmap-selector-item,
.location-selector-item {
	line-height: 19px;
	white-space: nowrap;
	margin: 6px 3px 3px 0px;
	padding: 2px 6px 2px 2px;
	color: #404040;
	background-color: #fdfdfd;
	border: 1px #b1b1b1 solid;
	font-size: 80%;
	display: block;
	float: left;
}

.kmap-selector .results {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
	margin-bottom: 8px;
	margin-left: -4px;
}

.location-selector{background:transparent !important;}

.location-selector button.btn.btn-sm {
	float: none;
	width: 25px;
	height: 25px;
	margin: 0px 6px;
}

.location-selector button.btn-remove:hover {
	background-color: red;
}

/* sites/all/themes/shanti_sarvaka/images/ajax-loader.gif */

.location-selector button.btn.btn-sm .icon {
	font-size: 2.5em;
	padding: 0px !important;
	line-height: 2em;
	margin: -0.4em 0em 0em 0em;
	float: none;
	width: 25px;
	height: 25px;
}

.location-selector button.btn.btn-sm .icon.shanticon-magnify {
	font-size: 1.75em;
	padding-top: 4px !important;
}

/* Transcript Accordion - input label */
.form-item-field-transcript-und-0 label{
	margin-left:4rem;
	margin-bottom:0.2rem;
}

input#edit-field-transcripts-xsl-und-0-upload.form-file,
input#edit-field-transcript-und-0-upload--2.form-file{ width:20rem;}

input#field_transcript_value.text-full.form-control.form-inline{
  margin-right: 0.5rem;
  color: #444;
}

/** Workflow Fields **/
#edit-field-workflow-und-0-field-edl-log-files,
#accordionfield_collection_item_field_workflow_form_group_catalog_record_workflow div.panel-body > div.field-type-text-long,
#field_collection_item_field_workflow_form_group_transcript_workflow div.panel-body > div.field-type-text-long {
	clear: both;
	margin-right: 12px;
	width: 45%;
}

#field_collection_item_field_workflow_form_group_media_workflow div.panel-body > .field-type-text-long {
	float: left;
	width: 45%;
}




.form-type-textfield, 
.field-widget-text-textfield,
.field-widget-options-select{
  padding-bottom: 1.5rem;
}

.form-type-textfield{
  display:inline-block;
}


.group-rights .form-type-textfield,
.field-name-field-workflow .field-widget-options-select,
.field-type-field-collection .field-widget-options-select{ /*padding:0;*/ float:left; display:inline; width:33.333%; border-bottom:none;}

.field-name-field-workflow .bootstrap-select.form-control,
.field-type-field-collection  .bootstrap-select.form-control{ min-width: 15rem; max-width:95%; margin-left:1rem;}

.group-rights .form-type-textfield input.form-text.form-control{ width:91% !important; margin-left:0.5rem;}

.field-widget-text-textfield.form-wrapper input.form-text.form-control{ max-width:70% !important;}

.field-type-field-collection input.form-text.form-control{ /*max-width:31% !important; position:relative; left:1rem */}


.field-type-field-collection input.form-text.form-control.date-clear{ max-width:100% !important;}

.form-item-field-pbcore-extension-und-0-field-extension-authority-und-0-value .field-widget-text-textfield.form-wrapper input.form-control{ max-width:100% !important;}



div.field-type-field-collection tr.draggable td div[class*="field-type-"]  { /* was div.field-name-field-title, div.field-name-field-title-type, div.field-name-field-language */
	float: left;
	border: none;
}

div.field-type-field-collection tr.draggable td div[class*="field-type-"] label { /* was: div.field-name-field-title label, div.field-name-field-title-type label, div.field-name-field-language label */
	/*display: block;
	padding: 0px 0px 5px 0px;*/
}

.form-type-textfield label,
.form-item.form-type-select label{ 
	display:block; 
	margin-bottom:0.2rem;
	margin-left:2rem;
	font-size: 0.88em; 
	margin-top: 0;
}

.form-type-textfield label, 
.form-item.form-type-select label{
  /* padding: 3px 0px 2px 10px;*/
  margin-bottom:0.2rem;
  font-size: 0.88em;
  display:block;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

/*
.field-type-field-collection .form-item.form-type-select label{
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: 0.88em;
}
*/




table.field-multiple-table .bootstrap-select.btn-group .dropdown-menu {
  font-size: 0.93em;
  max-width: 25rem !important;
}

/* Collections select menu Icon */
.field-accordion.group-details .field-type-group label .icon.shanticon-create{
  font-size: 1.68rem;
}

/* Collections selection, some names are long so extending this */
.page-node-edit .collection-details-audience .bootstrap-select.form-control{
	max-width: 45rem;
}

.page-node-edit .bootstrap-select.btn-group .dropdown-menu {
	padding-top:0;
}

.page-node-edit .bootstrap-select.btn-group .dropdown-menu dt{
	padding: 6px 20px 4px 14px;
	background-color: #eee;
	font-weight: bold;
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;

	/* target collection smenu single top header , but will look for exceptions to this model and address those seperately */
	padding: 8px 20px 4px 14px;
	border-top: none;
	border-radius: 0.8rem 0 0 0;
}

/* Dropdown with header - Collections selection, reducing space left of list items */
.page-node-edit .collection-details-audience .bootstrap-select.btn-group .dropdown-menu li>a.opt{
	padding-left: 15px;
}

.page-node-edit .bootstrap-select.btn-group .dropdown-menu li>a{
	/*line-height: 1.88em;
	height:2em;*/
}

.page-node-edit .bootstrap-select.btn-group .dropdown-menu li>a:hover, 
.page-node-edit .bootstrap-select.btn-group .dropdown-menu li>a:active{
	/*background: #e0e0e0;*/
	color:#000;
}



/* admin video edit forms section under title and description */
.filter-guidelines{
  padding: 2rem 5em 0 1rem;
}

table.sticky-table .filter-guidelines ul li{
  line-height: 1.5em;
  padding-top: 0.7rem
}

.filter-help p{
	font-size: 85%;
}

.filter-help {
	float: none;
	margin-bottom: 1rem;
}


/* typeahead */
.page-node-edit .kmaps-tt-menu{
	padding-top:0;
}

.page-node-edit .kmaps-ancestors{
	display:inline;
}

.page-node-edit .kmaps-tt-header{
	background-color: #eee;
	font-weight: bold;
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 8px 20px 4px 14px;
}

.page-node-edit .kmaps-tt-header:first-of-type {
	border-top: none;
	margin-top:0;
	border-radius: 0.8rem 0.8rem 0 0;
}

.page-node-edit .kmaps-tt-suggestion{
	padding: 3px 20px 1px;
}



.page-node-edit .kmaps-tt-suggestion:hover .kmaps-ancestors{
	color:#fff;
}

/* overrides css in shanti_kmaps_fields.typeahead.css #6 */
.page-node-edit .kmap_filter_box .selected-kmap:not(:first-child)::before{
	content: '(or)';
	width: 2.5em;
	color: #888;
}
/* overrides css in shanti_kmaps_fields.typeahead.css #6 */
.page-node-edit .kmap_filter_box.kmaps-conjunctive-filters .selected-kmap:not(:first-child)::before{
	content: '(and)';
	width: 3em;
	color: #888;
}





/* editing form techincal metadata */
#node_video_form_group_technical .node-video-form{
  margin: 0 !important;
}



/**
* -------------------------------
* ...migrated from mb-main
* -------------------------------
*/

.form-control.role-weight {
  font-size: 80%;
  width: 4em;
  height: 1.5em;
  line-height: 1.5em;
}

    .tabledrag-toggle-weight-wrapper {
      display: inline;
      float: right;
    }


table.field-multiple-table {
  margin-bottom: 2em;
}

table.field-multiple-table tbody {
  border: 2px solid #ddd;
}

#kmap_annotation_json {
  margin-left: 2em;
} /* textbox on bottom */


#edit-filter-settings-title {
  margin-bottom: 0 !important;
}

div.node .group-details .field-label-span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  vertical-align: top;
}




/* overide 'mediabase-edit-form.css' */
.field-type-field-collection input.form-text.form-control{
  /*max-width: 90% !important;
  position: relative;*/
  /*top: -0.3rem;*/
}

    .form-item.form-type-textfield input.form-text, 
    .form-item.form-type-textfield input.form-control{
      display:inline-block;
    }



.node-video-form .form-item{
  margin:0;
}

    .node-video-form .fieldset-wrapper .form-item{
      margin:1rem;
    }

.form-item-field-video-und-0-settings-default-settings-entry-widget{
  margin-left:2rem; /* add space to left of video player in - override format settings > default view mode */
}

#edit-field-video-und-0-button{
  clear: both;
}

.mb-av-form{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mb-av-form table.field-multiple-table {
  margin-bottom: 0;
}

.mb-av-form .kaltura_field_thumb::after{
  content: 'Remove';
  color: #777;
  display: inline-block;
  position: relative;
  left: 0;
  top: -0.6rem;
  font-family: helvetica, arial, sans-serif;
  height: 40px;
  font-size: 1.7rem;
  font-weight: bold;
}
/*.page-node-add .mb-av-form .kaltura_field_thumb { display: none; } */
.page-node-add .mb-av-form .kaltura_field_thumb::after{ content: ''; }

.mb-av-form .field-accordion:first-child .panel-body .field-video-add-more-wrapper p{
  max-width: 40rem !important;
  display: inline-block;
}

.mb-av-form .field-accordion .panel-body{
  padding-top:1rem;
}

    .mb-av-form .field-accordion:first-child .panel-body{
      padding-top:2rem;
    }

    .field-multiple-table .panel-body > div{
      margin: 12px 0px;
    }
/* for margin space below adjustable Rich-text area */
.resizable-textarea .grippie{
  margin-bottom: 0.5rem; 
}



.field-multiple-table .btn-sm.btn-icon.btn-delete{
  margin-top:1rem;
}


/* Details section, Collection header /icon 
.field-accordion.group-details .field-type-group label{
  display: inline-block;
  margin-left:1.5rem;
  margin-top:1rem;
}
*/



/**
*** END - Media Edit Form */






.page-group-node-admin fieldset.form-wrapper {
  margin-left:0;
  font-size: 1.06em;
}

.page-group-node-admin .placeholder{
font-size: 1.12em;
}








/**
*
* New Admin migration css property set from shanti-main.css
* 
*/

/* form table td.label styles address the 'Group Space' fields on ...node/add/collection*/
form table td.label {
 /* display:inline-block;font-size: 100%; */
  padding: 1rem 0;
}

form table td.label strong::after {
  content: ':';
  padding-right: 0.5rem;
}

form table td.label .description {
  display: inline;
/*font-weight: normal;*/
}

.form-type-password-confirm {
  position: relative;
}

.form-type-password-confirm label {
 /*position:relative; top:1.12em;*/
}

.form-item-pass-pass1 label {
 /*position:absolute; top:2.5em;*/
}

.form-type-password div {
 /*display:inline-block;*/
}

.password-strength {
  margin-top: 0;
}

.password-indicator {
  margin-top: 1em;
}

.password-indicator div {
  position: relative;
  top: -0.68em;
}

.form-type-password .error {
  color: #f00;
}

.form-type-password-confirm .password-strength-title {
  position: relative;
  top: 0.62em;
}

.form-type-password-confirm .password-strength-text {
  position: relative;
  top: 0.62em;
}

html.js .form-autocomplete {
  background-position: 98% center !important;
}

.field-widget-text-textfield.form-wrapper input.form-control {
  /*max-width: 80%;*/
} /* this was width: 80% !important but changed for video edit - field-extension-authority */

.form-item .description .warning,
.fieldset-description .error {
  padding: 0.12em 0.38em;
  margin-top: 0.25em;
  float: left;
  box-shadow: none;
}

tr.region-title td {
  color: #555;
  padding-top: 0.5em;
  font-family: 'museo-sans-500',helvetica,arial,sans-serif;
}

#edit-filters-order {
  padding-bottom: 15px;
}

table.tabledrag-processed {
  width: 100%;
  text-transform: capitalize;
}

table .draggable a.tabledrag-handle {
  height: 1.5em;
  margin-top: .25em;
}

table .draggable a.tabledrag-handle:hover,
table .draggable a.tabledrag-handle:active {
  border: none !important;
}

table .draggable a.tabledrag-handle .handle {
  background: none;
  height: 1em;
  width: 1em;
  font-family: 'Glyphicons Halflings';
  color: #999;
  font-size: 0.86em;
  line-height: 1em;
  padding: 0;
  margin: 0 2em;
  display: inline-block;
  position: relative;
  top: 0;
}

a.tabledrag-handle .handle::before {
  content: '\e068';
}

a.tabledrag-handle,
a.tabledrag-handle:hover,
a.tabledrag-handle:active {
  border: none !important;
}

a.admin-update,
a.features-storage,
.features-storage,
.features-component-list span {
  border-radius: 0;
}

.file-widget.form-managed-file {
  padding-left: 1.25em;
}

.exposed-filters .form-item label {
  float: none;
}

.form-item.form-type-select {
  padding: 0 0.25em 0 0;
}

.form-item .description {
  font-size: 0.93em;
  margin-top: 0.25em;
  margin-bottom: .75em;
  padding-left: 1em;
  max-width: 50em;
}

.form-item .option.icheck-label {
  font-size: 80% !important;
}

th.checkbox,
td.checkbox {
  display: table-cell;
}

th.checkbox {
  padding-right: 20px;
  padding-left: 5px;
  text-align: left;
  line-height: 1.12em;
  width: 12%;
}

td.checkbox .form-type-checkbox .icheckbox_minimal-red {
  display: block;
}

td.checkbox .form-type-checkbox > .icheckbox_minimal-red {
  margin-top: 5px;
}



/*--- the block editing icon dropdown for drupal that shows top-right of blocks on-hover ---*/
.contextual-links-wrapper {
  position: absolute;
  top: -0.15rem !important;
}

.contextual-links-wrapper a:hover, .contextual-links-wrapper a:active {
  border-bottom: none !important;
}

/* admin make checkboxes plain in features table */
.admin-menu .content .features .status {
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

.admin-menu table tr td.permission .form-item {
  line-height: normal;
  margin-top: 0;
}

.admin-menu table tr.odd.add-new:last-child {
  border-bottom: 20px solid transparent;
}

.admin-menu tr .form-item {
  line-height: normal;
}

.admin-menu tr .form-item.form-type-textarea{
  margin-bottom:0.5rem;
}

table.sticky-table,
table.sticky-header {
  width: 100%;
}

table.sticky-header th {
  padding-left: 1em;
}

table.sticky-table td ul {
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

table.sticky-table td ul li {
  line-height: 1em;
}

#edit-delete:hover,
#edit-delete:focus {
  background: red;
  border-color: red;
}

#module-filter-tabs a,
#module-filter-tabs a:hover,
#module-filter-tabs a:active {
  border-bottom: none;
}

.table-select-processed.tableheader-processed {
  margin-top: 1.5em;
}

textarea {
  border: 1px solid #ccc;
}

.admin-menu table.spaces td.option {
  width: 4%;
}

.admin-menu .content table td {
  padding: 5px;
  text-align: left;
}

.admin-menu .content table td.status {
  padding: 0;
}

.admin-menu .block.block-system {
  /*float: left;*/
}

.admin-menu #block-system-main.block.block-system {
 /*margin-top:1.75em;*/
  width: 100%;
}

.admin-menu .content table td:not(.pagerer) {
  background: transparent;
  /*padding-bottom:1.5rem;*/
  padding-top: 1.2rem;
}


.pagerer_admin_panes_config .form-type-select label {
  display: none;
}

form table td.label {
  padding-top: 0.68em !important;
}





.page-node-edit .icheckbox_minimal-red,
.page-node-edit .iradio_minimal-red {
  margin-right: 0.5rem !important;
  position: relative;
  top: -2px;
  left: 0;
}

.admin-menu .icheckbox_minimal-red.disabled {
  background-position: -80px 0;
/* border:1px dashed #ccc;*/
}

.admin-menu .table-select-processed th:first-child .icheckbox_minimal-red {
  margin-left: 6px;
}

.admin-menu .sticky-table a {
  border-bottom-width: 1px;
  white-space: nowrap;
  /*font-weight: bold;*/
}
/*
.admin-menu .sticky-table a:hover,
.admin-menu .sticky-table a:active {
  border-bottom-width: 2px !important;
}
*/



.main-content .content-section .view-content {
  max-width: 100%;
}

.form-type-checkbox .description {
  margin-top: 0;
  margin-left: 0;
}


/* overwrite mb_location-selector module in audio-video */
.location-selector-item {
  padding: 0.2em 0.6em 0.1em 0.4em;
  border: 1px solid #ddd;
  margin-right: 0.3em;
  line-height: normal;
}

/* view My Content in My Workflow etc */
.views-table td.active {
  background: transparent;
}

.views-table th {
  font-size: 0.88em;
  padding: 0 0.3rem;
}

.views-field {
  padding: 0 0.5rem 0 0;
  font-size: 0.93em;
}

.views-field img {
  margin: 0.2rem;
}

.views-field-realname,td.views-field-created,td.views-field-changed,td.views-field-type {
  font-size: 0.82em;
}

.views-table.cols-8 .views-field.views-field-title {
  width: 40%;
}

.field-multiple-table tr.odd,
.field-multiple-table tr.even {
  background: #f7f7f7;
}

/**
*** END new migration */

