/* BEGIN custom theme colors */
.titlearea,
.carousel-control,
.breadcrumb .icon,
.nav-justified>li.active a,
.nav-justified>li.active a:hover,
.nav-justified>li.active a:active{ background-color:#32ccca !important;}
.nav-justified>li.active::before{ color:#32ccca !important;}
/* darker shades below are used to better define details */
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.main-content .selectpicker .caret::before,
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active,
.view-section .fancytree-container .glyphicon,
.view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.view-section .fancytree-container .fancytree-node:active > .glyphicon,
.view-section .fancytree-node.fancytree-active > .glyphicon,
.view-section .fancytree-node.fancytree-selected > .glyphicon{ color:rgb(40, 161, 160) !important;  /* color: rgba(32, 132, 131, 0.86);*/ }
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active{ border-top-color: rgb(40, 161, 160) !important;}
/*--- END colors ---*/


.content-section{ }
.content-section.equal-height > .tab-content{ padding-top:1rem;}
.page-search section>.tab-content{ padding-top:1rem;}

.extruder .input-section{ height:8.9rem;}

/* sidebar search results sorting list */
.sidebar #block-apachesolr-search-sort ul li{ list-style-type:none;}
.sidebar #block-apachesolr-search-sort ul li img{ display:none;width:0;height:0;}
.sidebar #block-apachesolr-search-sort ul li a{ background: transparent;font-weight:normal;display:block;}
.sidebar #block-apachesolr-search-sort ul li a.active{ font-weight:bold;}

.sidebar #block-apachesolr-search-sort ul li a::before{ content:''; width:1rem;height:1rem;background:transparent;border:2px solid #5b68ce;display:inline-block; border-radius:50%; margin-right:8px;}
.sidebar #block-apachesolr-search-sort ul li a.active::before{ background: #5b68ce;}

/*--- view collections page ---*/
.view-collections .views-exposed-form{ margin-bottom:0; /*border-bottom:1px solid #ccc;*/ }
.view-collections .views-exposed-form .views-exposed-widget{ padding:0 0.5em 0 0;}
.view-collections .views-exposed-form .views-exposed-widget label, 
.view-collections .views-exposed-form .views-exposed-widget div { /*float: left; margin: 0 1em 0 0; */vertical-align: middle; }
.view-collections .views-exposed-form input.form-control{ width:12em;	}
.view-collections .views-exposed-widget.views-widget-filter-status{ width:6em;padding-top:0;}
.view-collections .views-exposed-widget.views-widget-sort-by{ width:9.5em;}
.view-collections .views-exposed-widget.views-widget-sort-order{ width:6em;}
.view-collections .views-exposed-widget.views-widget-per-page{ width:10.5em;}

.view-collections .views-row{ padding-top: 0.75em;padding-bottom: 1em;margin:0 auto;border-top:1px solid #fff;border-bottom:1px solid #ccc;	min-height:12.5em;}
.view-collections .views-row::after{ clear:both;}
.view-collections .views-row:first-child{ /* padding-top:0;margin-top:0.25em; border-top:3px double #e0e0e0; */}
.view-collections .views-field-title{ font-size:1.5em;margin-bottom:-0.5em;font-family: 'museo-sans-500',helvetica, arial, sans-serif;}
.view-collections .views-field-realname{ margin-bottom:0.25em;margin-top:1em;font-size:90%;color:#808080;font-style:italic;}
.view-collections .views-field-field-images img{ float:left;margin:.44em .88em .18em 0;-webkit-box-shadow:0 0 3px 0 rgba(50, 50, 50, 0.7);box-shadow:0 0 3px 0 rgba(50, 50, 50, 0.7);border-collapse: separate; /* fix for ie9 shadow */}

/*---------------------------*/
/***** REVIEW STYLES *********/
/*---------------------------*/




/* collections page thumbnail - remove responsive class */
.view-collections .field-image-thumb{ max-width:50%; float:left; padding-right: 20px;}

/* Home media list block */

/* Kmaps List page views*/
.page-list .shanti-view-dom-id > h2 { font-size: 1.75em; margin: 12px 0px 0px;}
.page-list .shanti-view-dom-id .shanti-filters { margin-bottom: 1.75rem; }
.page-list .shanti-view-dom-id .shanti-filters table td { padding: 0px; }
.page-list .shanti-view-dom-id .view-media-by-kmap { margin-top: 16px; }
.page-list .shanti-view-dom-id .lineage { margin-top: 12px; margin-left: -6px; }
.page-list .shanti-view-dom-id .lineage .label { font-size: 1.25rem; color: #444; font-weight: bold; }
.page-list .shanti-view-dom-id .lineage .links:text-only { font-size: 1.25rem; color: #444; }
.page-list .shanti-view-dom-id .lineage .links a { font-size: 1.25rem; font-weight: normal; }



.views-exposed-form .views-widget-filter-title label {
display: none;
}




/*-- Pager fixes (for solr results) --*/
.pager-first .icon, .pager-previous .icon, .pager-next .icon, .pager-last .icon {
	border: none;
}

/*-- Pager changing active to black and inactive to grey --*/
.pager-first .icon, .pager-previous .icon, .pager-next .icon, .pager-last .icon {
	color: #999;
}

.pager-first.active .icon, .pager-previous.active .icon, .pager-next.active .icon, .pager-last.active .icon {
	color: #222;
}

ul.pager {
  width: 100%;
}




.navbar nav.navtop .block h2{ display: none;} 


table.field-multiple-table .bootstrap-select.field_pbcore_title-delta-order .selectpicker {
	width:70px;
	margin-left:20px;
}


#locale-translation-filter-form .form-item-translation{ width:22em;}
#locale-translation-filter-form .form-actions{ margin-left:0; padding: 1.25em 0 0 1em; /* padding typo override */}



/*--- MOVE TO SARVAKA - bottom of page for edit save buttons ---*/
#edit-actions.form-actions{ margin-top:1.1rem;}
.form-control.role-weight{ font-size:80%; width:4em; height:1.5em;line-height:1.5em;}






.tabledrag-toggle-weight-wrapper{ display:inline; float:right; /* margin-top:-0.62em; */}
.tabledrag-toggle-weight-wrapper a{ color: #5a65d1;}


table.field-multiple-table{ margin-bottom:2em;}
table.field-multiple-table tbody{ border:2px solid #ddd;}


.kaltura-thumb-wrap{ clear:none;}
.kaltura_status_ok{ background-image:none !important; border:none !important;}



#kmap_annotation_json{ margin-left:2em;} /* textbox on bottom */


#edit-filter-settings-title{ margin-bottom:0 !important;}

div.node .group-details .field-label-span {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
	vertical-align: top;
}



.field-name-field-pbcore-description .show-more{ position:relative; top:-0.7rem;}


/*--- WHERE is show-annot from? ---*/
/*--- show-hide toggle button ---*/
a.show-annot,
a.hide-annot{
	font-size:1em;
	text-transform:uppercase;
	font-family:sans-serif;
	font-weight:bold;
	margin-left:-0.5em;
}
a.show-annot::before,
a.hide-annot::before{
	color:#5a65d1;
	font-size: 0.62em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.62em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
}

/**
 * 	All Collections Page
 */
.view-collections .collection-list-link {
	float: left;
	margin: 20px 10px 0 0;
}



.shanti-thumbnail.collection{ height:18.5em;}
.shanti-thumbnail.collection .body-wrap{ overflow-y:hidden; overflow-x:auto; height:15.5rem;}
.shanti-thumbnail.collection .view.view-collections{ padding-bottom:6rem;}
.shanti-thumbnail.collection .shanti-thumbnail-field.shanti-field-body{ white-space:normal !important; /* word-break:break-all; for URL paths if needed with js */}


.shanti-thumbnail.collection .shanti-thumbnail-info{ }
.shanti-thumbnail.collection .shanti-field-body {
	margin-top: 3px;
	padding-top: 3px;
	border-top: 1px solid #ccc;
	/* dont set height on this */
}
.shanti-thumbnail.collection .shanti-field-title a {
	font-size: 1.06em;
	font-weight: bold;
}

/**
 * 	All Collections View Header Styles taken from Essays
 */

.view-result-count-info {
  font-family: 'museo-sans-500',Helvetica,Arial,sans-serif;
  font-size: 1em;
  margin-top:2rem;
  text-align:center;
}

#view-all-colls-switcher {
  display: block;
  margin: 2rem 0 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#view-all-colls-switcher li {
  display: inline;
  list-style: none;
  font-size: 1.75rem;
  padding: .25em .5em .1em;
  margin: 0 0.7rem;
  border-radius: 3px;
  box-shadow: 0px 1px 5px #aaa;
  background-color: white;
}

.views-exposed-form .form-submit{ margin-top:-0.3rem;}

#view-all-colls-switcher li.on {
  background-color: #e0e0e0;
}

#view-all-colls-switcher .icon:hover {
  cursor: pointer;
}

.view-all-colls-control-box {
  display:table;
  width: 100%;
  border-top:0;
  margin: 10px 0;
  border-color:transparent;
}

.view-all-colls-control-box-row  {
  display: table-row;
}

.view-all-colls-control-box-cell  {
   display: table-cell;
   vertical-align: middle;
}

.view-all-colls-control-box .pager{ 
text-align: center;
float: none;
position: static;
top: 0;
right: 0;
margin:2.5rem 0 0;
}

.view-all-colls-control-box .pager li>a{
	color: #555;
padding: 0.2rem 0.7rem 0.4rem;
}

.view-all-colls-control-box-cell table.pagerer{ float: none; position:static; min-width: 30rem;text-align: left;}
.view-all-colls-control-box-cell table.pagerer .admin-menu .content table td{ padding:0;}

/*
.view-all-colls-control-box-cell.a  {
  width:20%;
}

.view-all-colls-control-box-cell.b  {
  width:40%;
}

.view-all-colls-control-box-cell.c  {
  width:15%;
}

.view-all-colls-control-box-cell.d  {
  width:25%;
}
*/
.views-widget-filter-title label {
  padding-top: 3px;
  font-size: 14pt;
}

.views-widget-filter-title input {
  height: 24px;
}

.shanti-collections .content-section {
  padding-top: 0;
}

#edit-title-wrapper label {
  font-size: 1.25em;
  text-transform: capitalize;
  margin: -4px 8px 0 0;
}

.view-collections .views-exposed-widget.views-submit-button, 
.view-collections .views-exposed-widget.views-reset-button {
	padding: 0;
	margin: -12px 0 0 0;
}

/**
 * 	Individual Collection Pages
 */
.node-collection .collection-content {
	clear: both;
	margin: 0px 8px;
	padding-top: 1px;
}

.node-collection .field-subcollection label {
	margin: 0px;
}

.collimage .img-thumbnail { 
	padding: 4px; 
	margin: 12px 18px 12px 12px;
	border: 2px solid #32ccca;
}

.about .description .field-item p {
	text-align: justify; 
	padding-right: 12px; 
  -webkit-hyphens: auto;  
  -moz-hyphens: auto;  
  hyphens: auto;
}


.about .description h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
	padding-top: 12px;
}

.region-sidebar-second .block h4 {
	font-size: .9em;
	text-transform: uppercase;
	font-weight: bold;
}

/** 
 * 	Individual A/V Pages 
 */
 

/* add space after collection name */
#av-details .field-name-av-collection {
	margin-bottom: 3px;
}

#av-details .field-type-taxonomy-term-reference {
	margin: 9px 0px 3px;
}

#av-details .field-type-taxonomy-term-reference ul {
	margin: 3px 0px 0px 0px;
}

/* Metadata on a/v record */
#field_collection_item_field_workflow_full_group_workflow .subgroup {
	float: left;
	width: 33%;
}

#field_collection_item_field_workflow_full_group_workflow .subgroup p {
	display: inline-block;
}

.node .content .mb-identifier label, .node .content .field-label-inline .field-label-span {
	color: #333;
	margin: 0;
	font-size: 14px;
	text-transform: capitalize;
}

.node .content .field-name-field-recording-location {
	margin: 0 !important;
}

.node .content .field-name-field-recording-location .field-label-span {
	color: #333;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

.node .content .field-name-field-pbcore-format-id > .field-items > .field-item {
	display: block;
}

.field.field-name-field-format-id.field-type-text.field-label-inline.clearfix {
	float: left;
}

.field.field-name-field-format-id-source.field-type-text.field-label-inline.clearfix {
	float: left;
	padding-left: 4px;
}

.node .content .field-name-field-pbcore-format-id .field-name-field-format-id .field-label,
.node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-label {
	display: none;
}

.node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-item::before {
	content: '(';
}

.node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-item::after {
	content: ')';
	clear: both;
}

/* hiding double display of Publisher label */
.field-name-field-pbcore-publisher > .field-label {
  display: none;
}

/* fixing spacing of links at bottom (email, add to favs etc.) */

ul.links.inline {
	margin-bottom: 24px;
	display: block;
}

/** Hiding Spaces table until it can be properly implemented */
.node-type-collection table.spaces {
display: none;
}

.page-node-edit.node-type-audio .field-name-field-thumbnail-image .image-preview {
	display: none;
}


/** My Content Pages **/
.view-my-content .vbo-views-form fieldset#edit-select {
	float: right;
	width: 65%;
}

.view-my-content .vbo-views-form fieldset#edit-select legend {
	color: #555;
	font-size: 80%;
	font-family: 'museo-sans-500',helvetica,arial,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
  padding: 12px 0px 0px;
}

.view-my-content .vbo-views-form fieldset#edit-select .fieldset-wrapper > .form-item {
	margin-top: -0.3em;
}

.view-my-content .vbo-views-form fieldset#edit-select .fieldset-wrapper > .form-item + button {
	margin-top: -8px;	
}

.view-my-content .vbo-views-form fieldset#edit-select .btn-group {
	margin: 0px;
}

.view-my-content .views-exposed-widgets {
	float: left;
	margin-bottom:0;

}

.view-my-workflow .views-exposed-widget {
	float: left;
	padding: 0px 12px;
}

.views-exposed-form .views-exposed-widget{
	height:5.5rem;
	margin:0 auto;
}
.views-exposed-form .views-exposed-widget:first-child{ min-width:27rem;}

.view .form-item-operation {
	float: left;
}

.view .form-item-operation + button {
	margin: 0 0 0 8px;
	vertical-align: top;
}

.view-my-content .views-table, 
.view-my-collections .views-table, 
.view-my-memberships .views-table, 
.view-my-workflow .views-table {
	width: 100%;
}

.view-my-content .views-table th,
.view-my-collections .views-table th,
.view-my-memberships .views-table th,
.view-my-workflow .views-table th {
	padding: 6px 12px 6px 3px;
	min-width: 75px;
	font-size: 1em;
}

.view-my-content .views-table tr td,
.view-my-collections .views-table tr td,
.view-my-memberships .views-table tr td,
.view-my-workflow .views-table tr td {
	padding: 6px 12px 6px 3px;
	min-width: 75px;
	font-size: 1em;
	/* white-space: nowrap; ---- removed...this is pushing the table too wide on myworkflow page, probably others too */
}

.view-my-workflow .views-table tr td{ font-size: 0.88em;}
.view-my-workflow .views-table tr td.views-field-title{ font-size:1em;}

/* --- AV users MyMedia tab 
.page-my-media .field-accordion .panel-heading{ display:none;}
.page-my-media .field-accordion .panel-body{ background:transparent;}
.page-my-media .view-content,
.page-my-media .field-accordion .panel-collapse.collapse,
.page-my-media .field-accordion .panel-collapse.collapse.in{ height:20px;}
.page-my-media .views-exposed-form .views-exposed-widget{ float:none; width:auto; padding: 0.5em 1em 0 0;}
---*/

.views-table .kaltura-thumb img { height: 50px;}



/* ---------------------- */
/* carousel - fade styles */
/* ---------------------- */
.carousel.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel.carousel-fade .carousel-inner .active.left,
.carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}	
.carousel.carousel-fade .carousel-inner .next.left,
.carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

/* keep the next-prev button under the right white column for logged in */
.carousel.carousel-fade .carousel-control {
  z-index: 1;
}
/* hide pause button */
.carousel.carousel-fade .control-box-2{ display:none;}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel.carousel-fade .carousel-inner > .item.next,
    .carousel.carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel.carousel-fade .carousel-inner > .item.prev,
    .carousel.carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel.carousel-fade .carousel-inner > .item.next.left,
    .carousel.carousel-fade .carousel-inner > .item.prev.right,
    .carousel.carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}





.page-my-content-workflow .views-exposed-widgets{ margin:1rem;}


