/**
 *  Search form in flyout  (ndg, 2014-11-17)
 **/
 

/*---- BEGIN search flyout ---*/
/*---- customize mediabase search panel ----*/
.input-section .search-group{ margin-top:-1em; }
.input-section .search-group .form-group{ padding-left:1.5em; }
.input-section .input-group .btn.btn-default{ font-size:1.5rem;}
.input-section .search-group #edit-actions.form-actions{ margin-top:0;}

.input-section .input-group .input-group-btn .btn .glyphicon-chevron-right { top:0.35rem; }
.input-section .advanced-view{ padding-top:0.5em;}
.input-section .search-group .radio-inline { min-width: 0px !important; }
.input-section .form-item .option.icheck-label { font-size: 100% !important; }
.input-section .toggle-link.advanced-link{ position:relative; top:0; display: none; }
.input-section .search-group .shanti-options .form-item { width: 48%; float: left;}

.input-section .search-group .searchreset{ background:transparent;position:relative;top:-2.3rem;left: -2.2rem;}
.input-section .search-group .searchreset .icon{ cursor:pointer;}
.input-section .search-group .searchreset .icon:before,
.input-section .search-group .searchreset .icon:after{ background:#aaa; position:absolute;top:0.7rem; width:1.3rem;height:1px; content: ''; -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);}
.input-section .search-group .searchreset .icon:after{ -webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);}

.view-section .treeview h2{ font-size:1.5em;}
.view-section h2 .toggle-facet-label-search{ float:left;margin-left:0.62em;margin-right:.5em;margin-bottom:0.5em;position:relative;top:0.25em;}
.view-section ul.fancytree-container { min-height: 100%; }
.fancytree-expander { background-image: none !important; } /* Removes default fancytree arrows */
/*
.main-content .selectpicker>li.selected>a:hover .check-mark, 
.main-content .selectpicker>li.selected>a:focus .check-mark{ color:#777;}
*/
.input-section .search-group .radio-inline:first-child{ width:20px;}

/*--------- SOLR Results ---------------*/
.mb-solr-results {
	margin: 18px 0 0;
}

.mb-solr-results .head {
	margin-bottom: 8px;
}

.mb-solr-results .head table.pagerer {
	margin: -26px -12px;
}

.mb-solr-results .head .label {
	color: #333;
	text-transform: uppercase;
	font-size: 0.9em;
}

.mb-solr-results .foot table.pagerer {
	margin: -12px;
}

#no-views-filter-results {
	color: red;
	margin: 12px;
	font-size: 0.9em;
}
/*
	.region-search-flyout .block-search .form-item.form-type-radio {
	display: inline-block;
	max-width: 49%;
	white-space: nowrap;
}

.region-search-flyout .block-search .form-item.form-type-radio label:first-child {
	max-width: 1.5em;
	min-width: 1em;
}

.region-search-flyout .block-search .form-item.form-type-radio label {
	margin: 0;
	padding: 0 12px 0 0;
}

.region-search-flyout .block-search .input-group .input-group-btn {
	top: -1px;
}

.region-search-flyout .block-search .form-group .toggle-link.advanced-link {
	display: none;
	top: -4px;
	left: -6px
}
*/

/* Facet flyouts */

.kmaps-tree ul.fancytree-container {
	background-color: #f8f8f8;
}

.view-section .nav-tabs>li {
	width: 50%;
	max-width: 200px;
	font-size: .9em;
}

#search-flyout .view-section .shanticon-tree:before {
	content: "\e639";
	padding-right: 5px;
}

/* Place checkmark before selected facets 
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected:before {
	content: "\2713";
	color: red;
	margin: 0px 12px 0px -10px;
	display: inline-block;
	padding: 3px;
}*/

/** Fancytree selected styles **/

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected {
	background-color: #d0f2f2;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title {
	background-color: transparent;
	white-space: nowrap;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title a {
	font-style: italic;
	white-space: nowrap;
}

/** Ajax Progress Throbber **/
.ajax-progress, .ajax-progress *, .ajax-progress-throbber, .ajax-progress-throbber * {
	display: inline;
	margin: 0;
	padding: 0;
}

/** No Results Header **/
.view-media-by-kmap .view-empty h3 {
	font-style: italic;
}



