/*---- BEGIN search flyout ---*/
/* .input-section .search-group {
  margin-top: -0.7rem;
  height: 8.75rem;
} */

.extruder .input-section {
  height: 87px;
}

.input-section .input-group input.form-control{
  margin-top:5px;
}

.input-section .input-group .input-group-btn{
  position:absolute;
  top:6px;
}

.input-section .input-group .btn.btn-default {
  font-size: 1.65rem;
}

.input-section .search-group #edit-actions.form-actions {
  margin-top: 0;
}

.input-section .form-item-search-block-form{
  margin-top:0;
}

.advanced-view .form-group:nth-of-type(1) { margin: 0 0 0 2rem;}
.advanced-view .form-group:nth-of-type(2) { display: none;}

.advanced-view.show-options{
  display: none;
}

.input-section .input-group-btn .glyphicon-chevron-right {
  position: relative;
  top: 0.3rem;
}

.input-section .search-group .radio-inline {
  min-width: 0px !important;
}

.input-section .form-item .option.icheck-label {
  font-size: 100% !important;
}

.input-section .advanced-view{
  display:none;
}

.input-section .toggle-link.advanced-link {
  position: relative;
  top: 0;
  display: none;
}

.input-section .shanti-options .form-item {
 /*width: 48%;*/
  margin-right: 1rem;
  float: left;
}

.input-section .form-radios .form-item{
  margin-top:0.2rem;
}

.input-section .search-group .searchreset {
  box-shadow: none;
  border: none;
  background: transparent;
  background-image: none;
  position: absolute;
  right: 5rem;
  top: 0rem;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.input-section .search-group .searchreset:hover,
.input-section .search-group .searchreset:active {
  color: transparent;
  background-image: none;
  background: transparent;
  border: none;
}

.input-section .search-group .searchreset .icon {
  position: relative;
  top: 0.6rem;
  left: 0.1rem;
  width: 2.25rem;
  height: 2.25rem;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.input-section .search-group .searchreset .icon::before,
.input-section .search-group .searchreset .icon::after {
  background: #aaa;
  width: 1.7rem;
  height: 1px;
  position: absolute;
  top: 1.08rem;
  left: 0.3rem;
  content: '';
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-section .search-group .searchreset .icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.input-section .search-group .searchreset:hover .icon,
.input-section .search-group .searchreset:active .icon {
  background: #f0f0f0;
}

.input-section .search-group .radio-inline:first-child {
  width: 2rem;
}


.extruder #loading-text{
  position: absolute  !important;
  left: 3.7rem !important;
}

.extruder .loadng-container .loading{
  width: 160px;
}

.input-section .form-group{
  margin-bottom:10px;
}

.view-section .tab-content{
  border: 1px solid #ddd;
  border-width: 0 1px;
}

.view-section .treeview h2 {
  font-size: 1.5em;
}

.view-section h2 .toggle-facet-label-search {
  float: left;
  margin-left: 0.62em;
  margin-right: .5em;
  margin-bottom: 0.5em;
  position: relative;
  top: 0.25em;
}
/*
.view-section ul.fancytree-container { min-height: 100%; }
.fancytree-expander { background-image: none !important; }  Removes default fancytree arrows 
*/

/*
.view-section .nav-tabs>li.km-facet-tab, 
.view-section .nav-tabs>li:first-child {
  width: 33%;
}
*/
.view-section .nav-tabs>li.km-facet-tab{ width:30%;}
.view-section .nav-tabs>li:first-child{ width:40%;}

.view-section .nav-tabs>li.km-facet-tab a {
  font-size: 0.88em;
}

.view-section .nav-tabs>li.km-facet-tab.active>a,
.view-section .nav-tabs>li.km-facet-tab.active>a:hover,
.view-section .nav-tabs>li.km-facet-tab.active>a:active {
  font-size: 0.93em;
}

/*--------- SOLR Results ---------------*/
.mb-solr-results {
  margin: 1.8rem 0 0;
}

.mb-solr-results .head {
  /* margin-bottom: 8rem; mf8yk - hid this 08/20 since it created large white space above grid in content area */
  margin-bottom: 0;
}

.mb-solr-results .head table.pagerer {
  margin: -26px -12px;
}

.node-type-collection .mb-solr-results .head table.pagerer{
  margin-top: -1.2rem;
}

.mb-solr-results .head .label {
  color: #333;
  text-transform: uppercase;
  font-size: 0.9em;
}

.mb-solr-results .foot table.pagerer {
  margin: 1rem 0 0;
}

#no-views-filter-results {
  color: red;
  margin: 1.2rem;
  font-size: 0.9em;
}

/*.view-section .nav-tabs>li{ width:45% !important;	max-width: 200px; font-size: .9em;}
.view-section .nav-tabs>li:first-child{ width:55% !important;}*/

/*******************************************************************************
 * Styles specific to this skin.
 *
 * This section is automatically generated from the `ui-fancytree.less` template.
 ******************************************************************************/
/*
ul.fancytree-container ul {
  padding: 0 0 0 1.5em;
  margin: 0;
}
/* Prevent focus frame ------
.fancytree-container:focus {
  outline: none;
}
span.fancytree-node {
  border: 1px solid transparent;
  border-radius: 3px;
  padding-left: 8px;
}
span.fancytree-title {
  border-radius: 3px;
}
*/
span.fancytree-node.fancytree-selected {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 1px 1px 0 rgba(255,255,255,.4);
}

span.fancytree-node.fancytree-selected span.fancytree-title {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

span.fancytree-node.fancytree-active {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.fancytree-container.fancytree-treefocus span.fancytree-node:hover {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-focused {
  border-color: #aaa;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active {
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(255,255,255,.4);
  border-color: transparent;
}








/** Ajax Progress Throbber **/
.ajax-progress, .ajax-progress *, .ajax-progress-throbber, .ajax-progress-throbber * {
  display: inline;
  margin: 0;
  padding: 0;
}

/** No Results Header **/
.view-media-by-kmap .view-empty h3 {
  font-style: italic;
}




/*----- search bottom half -----*/
.view-section .tab-pane > div::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 1rem;
}
 
.view-section .tab-pane > div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
 
.view-section .tab-pane > div::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 1rem;
  width: 0.6rem;
}

.view-section .tab-pane > div::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}




/*
	.region-search-flyout .block-search .form-item.form-type-radio {
	display: inline-block;
	max-width: 49%;
	white-space: nowrap;
}

.region-search-flyout .block-search .form-item.form-type-radio label:first-child {
	max-width: 1.5em;
	min-width: 1em;
}

.region-search-flyout .block-search .form-item.form-type-radio label {
	margin: 0;
	padding: 0 12px 0 0;
}

.region-search-flyout .block-search .input-group .input-group-btn {
	top: -1px;
}

.region-search-flyout .block-search .form-group .toggle-link.advanced-link {
	display: none;
	top: -4px;
	left: -6px
}
*/

/* Facet flyouts 

.kmaps-tree ul.fancytree-container {
	background-color: #f8f8f8;
}

#search-flyout .view-section .shanticon-tree:before {
	content: "\e639";
	padding-right: 5px;
}
*/

/* Place checkmark before selected facets 
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected:before {
	content: "\2713";
	color: red;
	margin: 0px 12px 0px -10px;
	display: inline-block;
	padding: 3px;
}*/

/** Fancytree selected styles 

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected {
	background-color: #d0f2f2;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title {
	background-color: transparent;
	white-space: nowrap;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title a {
	font-style: italic;
	white-space: nowrap;
}
**/



.node-video-form .fieldset-wrapper .form-item{
  margin:0;
}



