/* BEGIN custom theme colors */
.titlearea,
.carousel-control,
.breadcrumb .icon,
.nav-justified>li.active a,
.nav-justified>li.active a:hover,
.nav-justified>li.active a:focus{ background:#32ccca;}
.nav-justified>li.active:before{ color:#32ccca;}

/* maybe include this PlayBtn in custom colors once it actually works
.largePlayBtn,
.largePlayBtn:hover,
.largePlayBtn:focus{ color:#fff; background-color:#32ccca !important;} */
/*--- END colors ---*/


.content-section{ padding-top:1rem;}

/*--- view collections page ---*/

.view-collections .views-exposed-form{ margin-bottom:0; /*border-bottom:1px solid #ccc;*/ }
.view-collections .views-exposed-form .views-exposed-widget{ float: left; padding: .5em 1em 0 0;}
.view-collections .views-exposed-form .views-exposed-widget label, .view-collections .views-exposed-form .views-exposed-widget div { float: left; margin: 0 1em 0 0; vertical-align: middle; }
.view-collections .views-exposed-form input.form-control{ width:12em;	}
.view-collections .views-exposed-widget.views-widget-filter-status{ width:6em;padding-top:0;}
.view-collections .views-exposed-widget.views-widget-sort-by{ width:9.5em;}
.view-collections .views-exposed-widget.views-widget-sort-order{ width:6em;}
.view-collections .views-exposed-widget.views-widget-per-page{ width:10.5em;}

.view-collections .views-row{ padding-top: 0.75em;padding-bottom: 1em;margin:0 auto;border-top:1px solid #fff;border-bottom:1px solid #ccc;	min-height:14em;}
.view-collections .views-row:after{ clear:both;}
.view-collections .views-row:first-child{ /* padding-top:0;margin-top:0.25em; border-top:3px double #e0e0e0; */}
.view-collections .views-field-title{ font-size:1.5em;margin-bottom:-0.5em;font-family: 'museo-sans-500',helvetica, arial, sans-serif;}
.view-collections .views-field-realname{ margin-bottom:0.25em;margin-top:1em;font-size:90%;color:#808080;font-style:italic;}
.view-collections .views-field-field-images img{ float:left;margin:.44em .88em .18em 0;-webkit-box-shadow:0 0 3px 0 rgba(50, 50, 50, 0.7);box-shadow:0 0 3px 0 rgba(50, 50, 50, 0.7);border-collapse: separate; /* fix for ie9 shadow */}

/*---------------------------*/
/***** REVIEW STYLES *********/
/*---------------------------*/

/* collections page thumbnail - remove responsive class */
.view-collections .field-image-thumb{ max-width:50%; float:left; padding-right: 20px;}

/* Home media list block */
/* Please talk to Than before removing the line below */
#block-views-browse-media-home-block .shanti-filters { top: -2.5rem; }

/* Kmaps List page views*/
.page-list .shanti-view-dom-id > h2 { font-size: 1.75em; margin: 6px 0px 0px;}
.page-list .shanti-view-dom-id .shanti-filters { margin-bottom: 1.75rem; top: -2.5rem; }

/*-- Shanti Gallery for MB -*/

.shanti-filters td .label {
	letter-spacing: inherit;
}

.views-exposed-form .views-widget-filter-title label {
display: none;
}

.shanti-thumbnail-field.shanti-field-title .field-content a {
	letter-spacing:-0.05rem;
}

.shanti-filters { height:1.75em;}

/*-- Pager fixes (for solr results) --*/
.pager-first .icon, .pager-previous .icon, .pager-next .icon, .pager-last .icon {
	border: none;
}

/*-- Pager changing active to black and inactive to grey --*/
.pager-first .icon, .pager-previous .icon, .pager-next .icon, .pager-last .icon {
	color: #999;
}

.pager-first.active .icon, .pager-previous.active .icon, .pager-next.active .icon, .pager-last.active .icon {
	color: #222;
}

.navbar nav.navtop .block h2{ display: none;} /*--- QUESTION: what is this - ? ---*/
 /*--- .navbar .lang ul.dropdown-menu{ left: -2em;} QUESTION: language menu NOT USED any longer - ? ---*/


/*--- QUESTION: where is this from - ? ---*/
table.field-multiple-table .bootstrap-select.field_pbcore_title-delta-order .selectpicker {
	width:70px;
	margin-left:20px;
}

/*--- QUESTION: is this translations part of Video - ? ---*/
#locale-translation-filter-form .form-item-translation{ width:22em;}
#locale-translation-filter-form .form-actions{ margin-left:0; padding: 1.25em 0 0 1em; /* padding typo override */}



/*--- MOVE TO SARVAKA - bottom of page for edit save buttons ---*/
#edit-actions.form-actions{ margin-top:1rem;}
.form-control.role-weight{ font-size:80%; width:4em; height:1.5em;line-height:1.5em;}






.tabledrag-toggle-weight-wrapper{ display:inline; float:right; /* margin-top:-0.62em; */}
.tabledrag-toggle-weight-wrapper a{ color: #5a65d1;}


table.field-multiple-table{ margin-bottom:2em;}
table.field-multiple-table tbody{ border:2px solid #ddd;}


.kaltura-thumb-wrap{ clear:none;}
.kaltura_status_ok{ background-image:none !important; border:none !important;}

#kmap_annotation_json{ margin-left:2em;} /* textbox on bottom */


#edit-filter-settings-title{ margin-bottom:0 !important;}

div.node .group-details .field-label-span {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
	vertical-align: top;
}



.field-name-field-pbcore-description .show-more{ position:relative; top:-0.7rem;}


/*--- WHERE is show-annot from? ---*/
/*--- show-hide toggle button ---*/
a.show-annot,
a.hide-annot{
	font-size:1em;
	text-transform:uppercase;
	font-family:sans-serif;
	font-weight:bold;
	margin-left:-0.5em;
}
a.show-annot:before,
a.hide-annot:before{
	color:#5a65d1;
	font-size: 0.62em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.62em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
}

/**
 * 	All Collections Page
 */
.view-collections .collection-list-link {
	float: left;
	margin: 20px 10px 0 0;
}

.shanti-thumbnail.collection .shanti-field-body {
	margin-top: 3px;
	padding-top: 3px;
	border-top: thin solid #ccc;
}

.shanti-thumbnail.collection .shanti-field-title a {
	font-size: 0.93em;
	font-weight: bold;
}

/**
 * 	All Collections View Header Styles taken from Essays
 */

.view-result-count-info {
  font-family: 'museo-sans-500',Helvetica,Arial,sans-serif;
  font-size: 16px;
}

#view-all-colls-switcher {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#view-all-colls-switcher li {
  display: inline;
  list-style: none;
  font-size: 18pt;
  padding: .25em .5em .1em;
  margin: 0 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
}

#view-all-colls-switcher li.on {
  background-color: #EEE5EE;
}

#view-all-colls-switcher span.icon:hover {
  cursor: pointer;
}

.view-all-colls-control-box {
  display:table;
  width: 100%;
  border-top:0;
  margin: 10px 0;
  border-color:transparent;
}

.view-all-colls-control-box-row  {
  display: table-row;
}

.view-all-colls-control-box-cell  {
   display: table-cell;
   vertical-align: middle;
}

.view-all-colls-control-box-cell.a  {
  width:20%;
}

.view-all-colls-control-box-cell.b  {
  width:40%;
}

.view-all-colls-control-box-cell.c  {
  width:15%;
}

.view-all-colls-control-box-cell.d  {
  width:25%;
}

ul.pager {
  width: 100%;
}

.views-widget-filter-title label {
  padding-top: 3px;
  font-size: 14pt;
}

.views-widget-filter-title input {
  height: 24px;
}

.shanti-collections .content-section {
  padding-top: 0;
}

#edit-title-wrapper label {
  font-size: 1.25em;
  text-transform: capitalize;
  margin: -4px 8px 0 0;
}

.view-collections .views-exposed-widget.views-submit-button, .view-collections .views-exposed-widget.views-reset-button {
	padding: 0;
	margin: -12px 0 0 0;
}

/**
 * 	Individual Collection Pages
 */
.node-collection .collection-content {
	clear: both;
	margin: 0px 8px;
	padding-top: 1px;
}

.node-collection .field-subcollection label {
	margin: 0px;
}

.collimage .img-thumbnail { 
	padding: 4px; 
	margin: 12px 18px 12px 12px;
	border: 2px solid #32ccca;
}

.about .description .field-item p {
	text-align: justify; 
	padding-right: 12px; 
  -webkit-hyphens: auto;  
  -moz-hyphens: auto;  
  hyphens: auto;
}


.about .description h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
	padding-top: 12px;
}

.region-sidebar-second .block h4 {
	font-size: .9em;
	text-transform: uppercase;
	font-weight: bold;
}

/** 
 * 	Individual A/V Pages 
 */
 

/* add space after collection name */
#av-details .field-name-av-collection {
	margin-bottom: 3px;
}

#av-details .field-type-taxonomy-term-reference {
	margin: 9px 0px 3px;
}

#av-details .field-type-taxonomy-term-reference ul {
	margin: 3px 0px 0px 0px;
}

/* Metadata on a/v record */
#field_collection_item_field_workflow_full_group_workflow .subgroup {
	float: left;
	width: 33%;
}

#field_collection_item_field_workflow_full_group_workflow .subgroup p {
	display: inline-block;
}

.node .content .mb-identifier label, .node .content .field-label-inline .field-label-span {
	color: #333;
	margin: 0;
	font-size: 14px;
	text-transform: capitalize;
}

.node .content .field-name-field-recording-location {
	margin: 0 !important;
}

.node .content .field-name-field-recording-location .field-label-span {
	color: #333;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

.node .content .field-name-field-pbcore-format-id > .field-items > .field-item {
	display: block;
}

.field.field-name-field-format-id.field-type-text.field-label-inline.clearfix {
	float: left;
}

.field.field-name-field-format-id-source.field-type-text.field-label-inline.clearfix {
	float: left;
	padding-left: 4px;
}

.node .content .field-name-field-pbcore-format-id .field-name-field-format-id .field-label,
.node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-label {
	display: none;
}

.node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-item:before {
	content: '(';
}

.node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-item:after {
	content: ')';
	clear: both;
}
/* fixing spacing of links at bottom (email, add to favs etc.) */

ul.links.inline {
	margin-bottom: 24px;
	display: block;
}

/** Hiding Spaces table until it can be properly implemented */
.node-type-collection table.spaces {
display: none;
}



/** My Content Pages **/
.view .form-item-operation {
	float: left;
}

.view .form-item-operation + button {
	margin: 0 0 0 8px;
	vertical-align: top;
}

.view-my-content .views-table, 
.view-my-collections .views-table, 
.view-my-memberships .views-table, 
.view-my-workflow .views-table {
	width: 100%;
}

.view-my-content .views-table th,
.view-my-collections .views-table th,
.view-my-memberships .views-table th,
.view-my-workflow .views-table th {
	padding: 6px 12px 6px 3px;
	min-width: 75px;
	font-size: 1em;
}

.view-my-content .views-table tr td,
.view-my-collections .views-table tr td,
.view-my-memberships .views-table tr td,
.view-my-workflow .views-table tr td {
	padding: 6px 12px 6px 3px;
	min-width: 75px;
	font-size: 1em;
	white-space: nowrap;
}

.views-table .kaltura-thumb img {
	height: 50px;
}




.transcript-controls table tbody,
.transcript-player table tbody{ border-top:none;}
.transcript-controls .btn-group.btn-group-lg{ width:100%; margin-top:0;}
.transcript-controls .btn-group:nth-child(1) .btn{ border-left:1px solid #ddd;}
 /*--- .btn-group-transcript .btn.btn-icon span:last-child{display:inline-block;} set up for new video transcript controls --*/
 

.transcripts-apachesolr-search-snippet .controls{ width:15.5rem; position:absolute;top:0.8rem;left:1.2rem;}

.av-main-transcript-section .btn.btn-default.dropdown-toggle.selectpicker{ /*display: table-cell;*/ background-image:none; background:#fff; border-radius:0; height:6.2rem; border:1px solid #ddd; width:100%;position: relative; top:-0.15rem;}
/* .av-main-transcript-section .bootstrap-select.btn-group .btn .filter-option{ display:none;}  hiding names */
.bootstrap-select.btn-group.tier-selector .icon:first-child{ font-size:2.3rem;line-height:1.5em;color:#606060;position:relative;left:0.5rem;top:0;width:auto;}
.bootstrap-select.btn-group.tier-selector .btn:hover,
.bootstrap-select.btn-group.tier-selector .btn:focus,
.bootstrap-select.btn-group.tier-selector .btn:hover .icon,
.bootstrap-select.btn-group.tier-selector .btn:focus .icon,
.bootstrap-select.btn-group.tier-selector .btn:hover .icon:before,
.bootstrap-select.btn-group.tier-selector .btn:focus .icon:before{ background:#ddd;}

.av-main-transcript-section .bootstrap-select.btn-group .btn:hover,
.av-main-transcript-section .bootstrap-select.btn-group .btn:focus { border: 1px solid #ccc;background: #ddd;}
.av-main-transcript-section .dropdown-menu.open{ border-radius:0;min-width:18rem;}
.av-main-transcript-section .dropdown-menu li a span.text{ font-family:'museo-sans-500',helvetica,arial,sans-serif;color:#333;line-height:2.5em;margin-right:7rem;}
.av-main-transcript-section .selectpicker li a{ line-height:2.5em; height:2.5em;color:blue;}
.av-main-transcript-section .dropdown-menu li a .check-mark{ color:green;}
.av-main-transcript-section .dropdown-menu li.selected a .icon-ok.check-mark{ margin-top: 0.5em;}
.av-main-transcript-section .selectpicker .caret:before{ color:#555;font-size: 1.62em;left:-1rem;right:0;top:-1rem;z-index:10;}
.av-main-transcript-section .selectpicker .fa:before{ font-size:2.5em;color:#606060;position: relative;left:0.5rem;}

.av-main-transcript-section .tcu-info{ width:auto;min-height:5.5rem;}
.av-main-transcript-section .speaker-tiers{ margin-left:25%;padding-left:1rem;border-left:2px solid #eee;}
.av-main-transcript-section .speaker-tiers mark{ background:#ff0; padding:0;}
.av-main-transcript-section .speaker-name{ position:absolute;top:1rem;left:2%;width:23%;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}


.av-main-transcript-section .play-button{ margin:0; position:relative;top:3rem;}
.av-main-transcript-section .play-button .btn{ margin:0;padding:0.1rem 2rem;font-size:1rem;}
.av-main-transcript-section .play-button .btn:hover{ color:#333;}
.av-main-transcript-section .play-button .btn .glyphicon{ line-height:0.9rem; float:left; padding:0; position:relative; font-size:1.2rem;left: -1.2rem;top:0.5rem; color:#5b68ce;}
.av-main-transcript-section .play-button .btn.untimed{ display:none;}
/*.av-main-transcript-section .speaker-name{ position:absolute;top:1rem;left:-2rem;width:100px;}
.av-main-transcript-section .play-button{ position:relative;top:3rem;left:0;margin:-0.5rem;}
*/

.transcript-container { height:750px; overflow-x:auto;margin-top:0;-webkit-transition: all 100ms ease 0s;-moz-transition: all 100ms ease 0s;-o-transition: all 100ms ease 0s;transition:  all 100ms ease 0s;}
.transcript-container.show-search { margin-top:7rem;}

.transcript-container .list-group{ -webkit-margin-before: 0;}
.transcript-container .alert-info{ margin-bottom:0;}

.transcript-content .list-group{ border-left:1px solid #ddd;}
.transcript-content li{ border-left:4px double #fff;}
.transcript-content .playing .speaker-tiers{ border-color: #5b68ce;}
.transcript-content .playing { border-left:4px double #5b68ce; background:#f5f5f5;}






.btn-group-transcript{ width:100%;padding:0 0.1rem;margin:0;}
.btn-group-transcript .btn.btn-icon{ display:table-cell;width:16.66%;}
.btn-group-transcript .btn.btn-icon span{ position:static;padding: 1em 0;}
/*.btn-group-transcript .btn.btn-icon span:last-child{ padding: 1em;}*/
.btn-group-transcript .btn.btn-icon .fa,
.btn-group-transcript .btn.btn-icon .icon{margin:0 auto;font-size:2rem; position:static;line-height:1;width:auto;background:transparent;}
.btn-group-transcript .btn.btn-icon .fa{ font-size:1em;line-height: 2.32em;}
.btn-group-transcript .btn.btn-icon.playpause{ font-size:1em;}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:16.66%;}
.btn-group-transcript .btn-group>.btn+.dropdown-toggle{ padding:0; width:16.66%;}

.btn-group-transcript.btn-group .btn+.btn{ border-left:none;}
.btn-group-transcript.btn-group:nth-child(1) > .btn.btn-default{ border-left:none;margin-left:0;}






.transcript-search-wrapper{
	background: #f9f9f9;
	padding:0;
	display:none;
	height:7.5rem;
	border:1px solid #ddd;
	position:relative;
}
.transcripts-ui-search-form{ height:7.5rem;}
.transcripts-ui-search-form > div{ display:table;}
.transcript-search-input{ display:table-cell;position:relative;}
.transcript-search-wrapper .form-control{
	color:#777;
	border: 1px solid #ccc;
	border-radius: 3.7rem;
	background-clip: padding-box;
	font-size:1.7rem;
	height:3.7rem; /* coordinate with button height below */
	margin: 0 0 0.3rem 2rem;
	padding:0.2rem 4rem 0 2rem;
  max-width:90%;
  position:relative;
  top:1rem;
	overflow: auto;
	vertical-align:middle;
	-webkit-box-shadow:0 2px 5px #eee inset;
	box-shadow:0 2px 5px #eee inset;
	border-collapse: separate; /* fix for ie9 shadow */
	background: #fff;
	-webkit-transition-property: all;
	-webkit-transition-duration: 400ms;
	transition-property: all;
	transition-duration: 400ms;
}
.transcript-search-wrapper .form-control:hover{ border: 1px solid #ccc; color:#777;}
.transcript-search-wrapper .form-control:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8;box-shadow: 0 0 4px #949bd8; border-collapse: separate; /* fix for ie9 shadow */}


/*--- button group ---*/
.transcript-search-wrapper .input-group-btn{ width:4rem; /* set button width and position */ position:absolute; top:1.5rem; right:1.3rem; z-index:10; background:transparent; padding:0; margin:0;}
.transcript-search-wrapper .input-group-btn .btn.btn-default{
	display:block;
	height:3.5rem; /* 2px less than search input height above */
	width:4.5rem;
	color:#aaa;
	border: 1px solid #e5e5e5;
	border-top-right-radius: 1.7rem !important;
	border-bottom-right-radius: 1.7rem !important;
	background-clip: padding-box;
	-webkit-box-shadow:none;
	box-shadow:none;
	padding:0;
	margin:0;
	font-size:1.2rem;
	background:#eee;
	background-image:none;
	position:absolute;
	right:1.5rem;
	top:-0.4rem;
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}
.transcript-search-wrapper .input-group-btn .btn.btn-default:hover{ background:#eee; color:#d00;}
.transcript-search-wrapper .input-group-btn .btn.btn-default:active, 
.transcript-search-wrapper .input-group-btn .btn.btn-default.active{ background: transparent; border-color:#fff; /* active state for button */}
.transcript-search-wrapper .input-group-btn .btn.btn-default .icon{ font-family: 'Glyphicons Halflings' !important;	background:transparent;}
.transcript-search-wrapper .input-group-btn .btn.btn-default .icon:before{ content: '\e080'; position:relative; right: 0.3rem; top: -0.6rem;}
.transcript-search-wrapper .input-group-btn .btn.btn-default:active .icon,
.transcript-search-wrapper .input-group-btn .btn.btn-default.active .icon{ color:#777;}

/*--- reset search button ---*/
.transcript-search-wrapper .input-group-btn .btn.searchreset { 
	border:none;
	background:transparent;
	background-image:none;
	width:15px;
	height:15px;
	position:absolute;
	right:50px;
	top:9px;
	z-index:10000;
	padding:0;
	margin:0;
	display:none;
	font-size:1.5em;
	color:#ccc;
}
.transcript-search-wrapper .input-group-btn .btn.searchreset:active,
.transcript-search-wrapper .input-group-btn .btn.searchreset.active{ box-shadow:none; background-image:none;}
.transcript-search-wrapper .input-group-btn .btn.searchreset .icon{ font-size:1.25em; color:#aaa; }
.transcript-search-wrapper .input-group-btn .btn.searchreset .icon:before{ font-family: 'shanticon'; content: "\e610"; }

.transcript-search-options{ margin:1.3rem 0 0;}

.transcript-navigate-results{ display:table-cell;width:10rem;padding: 0 0.5rem 0 0;width: 10rem;}
.transcript-navigate-results .nextresult,
.transcript-navigate-results .previousresult{ 
	width:2.6rem;
	height:3.6rem;
	background:#fff;
	border:1px solid #ddd;
	margin:0 0.5rem 0 0;
	box-shadow:none;
	position:relative;
	top:0.7rem;
}
.transcript-navigate-results .btn .icon{ 
	font-family: 'shanticon';
	color: #ccc;
	position: absolute;
	right: 0;
	top: 0.5rem;
	padding:0;
	line-height:1;
	width:auto;
}
.transcript-navigate-results .btn.nextresult .icon:before{ content: '\e605';}
.transcript-navigate-results .btn.previousresult .icon:before{ content: '\e608';}
.transcript-navigate-results div:last-child{ 
	margin-top:1rem;
	width:100%;
	text-align:center;
	padding-right:1rem;
}





/*--- search results window ---*/
.transcript-search-result .btn.btn-primary{ font-weight:bold;font-size:0.62em;color:#eee;}
.transcript-search-result .btn.btn-primary.untimed{ background:#ddd;color:#777;}
/*.transcript-search-result .btn.btn-primary:first-child{ padding:0.5rem 1rem 0.3rem;}*/
.transcript-search-result .btn{ width:100%;padding: 0.3rem 1rem 0.1rem;}
.transcript-search-result .btn .glyphicon{ position:relative;left:-0.5rem;}

.transcripts-apachesolr-search-snippet .tiers{ margin-left:4%; border-left:3px solid #eee;}
.transcripts-apachesolr-search-snippet .tiers>div{ padding-left:1.5rem;}

.transcripts-apachesolr-search-snippet .tiers strong,
.transcripts-apachesolr-search-snippet .tiers mark{ background:#ff0; padding:0;}

.transcript-search-result { display:table;width:100%;padding:0 1rem;min-height:13.5rem;}
.transcript-search-result .search-snippet-info,
.transcript-search-result .shanti-thumbnail-image,
.transcript-search-result .shanti-thumbnail-info { display:table-cell;vertical-align:top;}
.transcript-search-result .shanti-thumbnail-info{ width:21%;padding-left:5%; padding-top:1.5rem}
.transcript-search-result .shanti-thumbnail-image{ width:13.5rem;}
.transcript-search-result .shanti-thumbnail-image img{ height:10rem;}
.transcript-search-result .shanti-thumbnail-image a{ position:relative;top:32px;border-radius:0.3rem;background:transparent;}
.transcript-search-result .shanti-thumbnail-info .btn:last-child{ margin-bottom:2rem;padding:0;font-size:0.88em;min-width:115px;max-width:12rem;position:relative;top:0.3rem;left:-0.5rem;}
.transcript-search-result .shanti-thumbnail-image a .overlay::before{ line-height:2.25em;}
.transcript-search-result .shanti-thumbnail-image a:hover .overlay::before, 
.transcript-search-result .shanti-thumbnail-image a:focus .overlay::before{ font-size:3.5em !important;}
