/**
* Mandala Audio-Video - Development
* 
* version 1.x - shanti-main-mediabase.css
* ------------------------------------------
* University of Virginia / SHANTI MANDALA
* ------------------------------------------
* 
*/

/** 
* Subtheme Colors 
*/
.titlearea,
.carousel-control,
.breadcrumb .icon,
.nav-tabs.nav-justified>li.active>a,
.nav-tabs.nav-justified>li.active>a:focus,
.nav-tabs.nav-justified>li.active>a:hover {
  background-color: #2db6b4 !important;
}


.navbar-brand:hover .site-slogan,
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active,
.view-section .fancytree-container .glyphicon,
.view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.view-section .fancytree-container .fancytree-node:active > .glyphicon,
.view-section .fancytree-node.fancytree-active > .glyphicon,
.view-section .fancytree-node.fancytree-selected > .glyphicon
.bootstrap-select.btn-group.show-tick .dropdown-menu>li.selected>a .check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu>li.selected>a:hover .check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu>li.selected>a:active .check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:hover .icon-ok.check-mark::before, 
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .icon-ok.check-mark::before {
  color: #2db6b4 !important;
}

.nav-tabs.nav-justified>li.active,
.view-section .nav-tabs > li.active > a {
  border-top-color: #2db6b4 !important;
}

.region-sidebar-second{ background-color: transparent; }

.navbar-brand:active .site-slogan { color: #444 !important; }

::-moz-selection { background: #c0532f !important; } 
::selection { background: #c0532f !important; }

@media screen and (min-width: 768px) {

  .nav-tabs.nav-justified>li.active::before{  
    color: #2db6b4 !important;
  }
}

/**
*** END subtheme colors ---*/


/**
* --------------
* Page Layouts
* --------------
*/

.content-section.equal-height.col-md-9 > .tab-content.container-fluid::after{
  /* padding-bottom: 7rem; */
}


.tab-pane.main-col.active:not(.front .tab-pane.main-col.active){
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.node-type-audio #block-system-main,
.node-type-video #block-system-main{
  margin-top: 0;
}

.logged-in.node-type-audio #block-system-main,
.logged-in.node-type-video #block-system-main{
  margin-top:-0.75em;
}

.node-type-video .tab-pane.main-col > div {
  max-width: 1050px !important;
  margin: 0 auto !important;
}

    .node-type-audio .tab-pane.main-col > div {
      max-width: 970px !important;
      margin: 0 auto !important;
    }

    .node-type-video.has-transcript .tab-pane.main-col > div {
      max-width: 1500px !important;
      margin: 0 auto !important;
    }

    .node-type-team .tab-pane.main-col > div{
      padding-top:0.5rem;
    }

    .node-type-collection .tab-pane.main-col > div{
      padding-top:0.2rem;
    }


/**
* ---------------
* Right Sidebar
* ---------------
*/
/**
* upload video-audio 
*/
.region-sidebar-second .block-mb-structure .btn.btn-icon{
  letter-spacing: 0.03rem;
  font-size: 1em;
  line-height: 2.25em;
  padding-left: 5.6rem;
}

    .region-sidebar-second .block-mb-structure .btn.btn-primary.btn-icon .icon{
      width: 3em;
      line-height:2.5em;
    }

    .region-sidebar-second .block-mb-structure .btn.btn-icon span:last-child{
      line-height: 2.5em;
      font-size: 80%;
      padding-left:0;
    }

    .region-sidebar-second .bootstrap-select.btn-group .dropdown-menu.open{
      max-width: 90%;
    }

    .region-sidebar-second .block-mb-structure form > div{
      font-size:0.93em;
    }

/**
* Sidebar filter search results
*/
.sidebar #block-apachesolr-search-sort ul li {
  list-style-type: none;
}

    .sidebar #block-apachesolr-search-sort ul li img {
      display: none;
      width: 0;
      height: 0;
    }

    .sidebar #block-apachesolr-search-sort ul li a {
      background: transparent;
      font-weight: normal;
      display: block;
    }

    .sidebar #block-apachesolr-search-sort ul li a.active {
      font-weight: bold;
    }

    .sidebar #block-apachesolr-search-sort ul li a::before {
      content: '';
      width: 0.9rem;
      height: 0.9rem;
      background: transparent;
      border: 2px solid #5b68ce;
      display: inline-block;
      border-radius: 50%;
      background-clip: padding-box;
      margin-right: 8px;
      position: relative;
      top: -0.1rem;
    }

    .sidebar #block-apachesolr-search-sort ul li a:hover::before {
      background: #5b68ce;
    }

    .sidebar #block-apachesolr-search-sort ul li a.active::before {
      background: #5b68ce;
    }

    .region-sidebar-second h4 {
      font-size: 0.9em;
      text-transform: uppercase;
    }
/**
*** END Right Column */



/**
* ------------------
* Collections page
* ------------------
*/
.view-collections .field-image-thumb {
  max-width: 50%; /* TEMP hack - reduce size of thumbnail */
  float: left;
  padding-right: 20px;
}

.view-collection-media table.pagerer{
  margin-top: -4rem;
}

    .node-type-team .view-collection-media table.pagerer{
      margin-top: -4rem;
    }

    .view-collections .views-row {
      padding-top: 0.75em;
      padding-bottom: 2em;
      margin: 0 auto;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #ccc;
    }

    .view-collections .views-row::after {
      clear: both;
    }

    .view-collections .views-field-title {
      font-size: 1.5em;
      margin-bottom: -0.5em;
      font-family: 'museo-sans-500',helvetica, arial, sans-serif;
    }

    .view-collections .views-field-realname {
      margin-bottom: 0.25em;
      margin-top: 1em;
      font-size: 90%;
      color: #808080;
      font-style: italic;
    }

    .view-collections .views-field-field-images  {
      float: left;
      margin: .44em .88em .18em 0;
      box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.7);
      border-collapse: separate;
    }

.page-collections-list #block-system-main.block.block-system {
  width: 100%;
  float: none;
  margin: 0 auto;
  max-width: 90rem;
}

.page-collections .views-exposed-widget .form-submit{
  display:none;
}



.node-type-collection .description:not(#admin-footer .description){
  min-height: 270px;
}

/* single collection page */
/** Hiding Spaces table until it can be properly implemented */
.node-type-collection table.spaces {
  display: none;
}


.collection-content .field-label-inline .field-label-span { 
  float:left; 
}




/* Revive point on last breadcrumb when search result replace node */
.breadwrap .breadcrumb li:last-child a.revive-pointer:hover {
  cursor: pointer !important;
}





/* Home media list block */
/* Filters on top of block */
#views-exposed-form-browse-media-home-block .views-exposed-form {
    min-width: 450px;
    /*margin-right: -50px;*/
}

    #views-exposed-form-browse-media-home-block .views-exposed-widget{
      padding-top:0.75rem;
    }

    #views-exposed-form-browse-media-home-block {
        margin-right: -3rem;
    }

    .view-filters-mb {
        margin-right: -3rem;
    }

    #views-exposed-form-browse-media-home-block  .views-exposed-widget {
        padding-right: 0rem !important;
    }

    #views-exposed-form-browse-media-home-block .views-exposed-form input#edit-title {
        max-width: 130px;
    }



#block-views-browse-media-home-block .contextual-links-wrapper{
  position: absolute;
  top: -5px;
}


/* Kmaps List page views*/
.page-list .shanti-view-dom-id > h2 {
  font-size: 1.75em;
  margin: 12px 0px 0px;
}

    .page-list .shanti-view-dom-id .view-media-by-kmap {
      margin-top: 16px;
    }

    .page-list .shanti-view-dom-id .lineage {
      margin-top: 12px;
      margin-left: -6px;
    }

    .page-list .shanti-view-dom-id .lineage .label {
      font-size: 1.25rem;
      color: #444;
      font-weight: bold;
    }

    .page-list .shanti-view-dom-id .lineage .links:text-only {
      font-size: 1.25rem;
      color: #444;
    }

    .page-list .shanti-view-dom-id .lineage .links a {
      font-size: 1.25rem;
      font-weight: normal;
    }

.views-exposed-form .views-widget-filter-title label {
  display: none;
}


/*-- Pager fixes (for solr results) --*/
.pager-first .icon, 
.pager-previous .icon, 
.pager-next .icon, 
.pager-last .icon {
  border: none;
}



/**
* ------------------------------
* Shanti Filters Gallery Header
* ------------------------------
*/
.shanti-filters{
    /*height: 5.2em;*/
  height: 7.5em;  
}

    .shanti-filters .ajax-progress {
      position: absolute;
      top: 1.35rem;
      /*right: 0;*/
    }

    .shanti-filters .control-box .ajax-progress {
      display: none;
    }

    .shanti-filters .control-box-cell-header {
      margin: 0.8rem 0 0 0;
      padding: 0;
    }

    .shanti-filters .control-box-cell-header span{
      float: left;
      padding:0;
      margin:0 0 0 1.5rem;
      line-height:2rem;
    }

    .shanti-filters .control-box-cell-header .label {
      color: #555;
      text-transform: uppercase;
      font-size:0.82em;
      display:none !important;
    }
    
    .logged-in.front .shanti-filters .control-box-cell-header .label{ 
      /* show-hide text for mobile - Recent Addtions */
    }

    .shanti-filters .count {
      margin-bottom: .4rem;
      text-transform: capitalize;
      font-size: 0.93em;
      white-space: nowrap;
      overflow:visible;
    }

    .shanti-filters .control-box-cell-header .view-result-count-info {
    	margin: 0;
    	padding: 0;
    	float: left;
    }

    .shanti-filters .control-box-cell-filters {
      margin: 0;
      padding-left:3rem;
    }
/*
    .logged-in.front .shanti-filters .control-box-cell-filters {
      width:100%;
      padding-left:0;
    } 
*/
    .shanti-filters .control-box-cell-filters .views-exposed-form .form-item {
      margin-right: 1rem;
    }

    .shanti-filters .control-box-cell-filters .view-filters-mb {
      margin-right:0;
    }

    .shanti-filters .control-box-cell-pager {
      padding: 0;
      margin: -1rem 0 0;
    }

    .shanti-filters .control-box-cell-pager,
    /*.logged-in.front .shanti-filters .control-box-cell-pager,*/
    .shanti-filters .control-box-cell-filters
    /*.logged-in.front .shanti-filters .control-box-cell-filters*/{
      width:100%;
    }

    .shanti-filters .control-box-cell-pager {
      margin-top: 0;
      margin-right: 0;
    }

    .shanti-filters table.pagerer {
      margin-bottom:0;
    }

    .front .shanti-filters  .control-box-cell-pager table.pagerer {
      margin-top: -0.7rem;
    }

    .shanti-filters table.pagerer,
    .shanti-filters .control-box-cell-pager {
      float:right;
    }

    .page-collections .shanti-filters table.pagerer{
      margin-top: 0;
    }

    .page-collections .shanti-filters .control-box-cell-pager{
      margin-top: -3.3rem;
      width: 60% !important;
      float:right;
    }


.navbar nav.navtop .block h2 {
  display: none;
}

table.field-multiple-table .bootstrap-select.field_pbcore_title-delta-order .selectpicker {
  width: 70px;
  margin-left: 20px;
}



input#field_transcript_value.text-full.form-control.form-inline{
  margin-right: 0.5rem;
}



div#node_video_form_group_details > .panel-body > div, 
div#node_audio_form_group_details > .panel-body > div{
  margin:0;
  background: #f9f9f9;
  padding: 0 1.2rem;
}

    div#node_video_form_group_details > .panel-body .field-name-group-audience, 
    div#node_audio_form_group_details > .panel-body .field-name-group-audience{
      padding-top: 1.5rem;
    }


#locale-translation-filter-form .form-item-translation {
  width: 22em;
}

    #locale-translation-filter-form .form-actions {
      margin-left: 0;
      padding: 1.25em 0 0 1em;
     /* padding typo override */
    }

.page-node-edit button#edit-delete{
  float: right;
  padding: .38em 1.5em .25em;
  font-size: 0.68em;
  background: #fff;
  color: #606060;
  font-weight:bold;
  border:1px solid #ddd;
}

    .page-node-edit button#edit-delete:hover{
      background: red;
      color:#fff;
    }

    .page-node-edit button#edit-cancel{
      box-shadow: none;
      color: #777;
      letter-spacing: .02em;
      background:#fff;
      border:1px solid #ddd;
    }

    .page-node-edit button#edit-cancel:hover{
      background: #ddd;
      box-shadow: none;
    }

div#edit-field-pbcore-instantiation-und-0-field-date-created.field-name-field-date-created{
  float: left;
  width: 50%;
}

.panel-body fieldset.form-wrapper legend{
  margin-left: 0;
}


/*--- for edit save buttons bottom of page, perhaps move to sarvaka ---*/
#edit-actions.form-actions {
  margin-top: 1.1rem;
}



/*--- show-hide toggle button ---*/
a.show-annot, a.hide-annot {
  font-size: 1em;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: -0.5em;
}

    a.show-annot::before,
    a.hide-annot::before {
      color: #5a65d1;
      font-size: 0.62em;
      line-height: .75em;
      font-weight: normal;
      padding-right: 0.62em;
      font-family: 'Glyphicons Halflings';
      content: '\002b';
     /*-- plus icon */
      position: relative;
      top: -1px;
    }



/**
* -------------------
* All Collections
* -------------------
*/
.page-collections .view-collections{ 
  margin-bottom:10rem;
}

.page-collections .shanti-thumbnail-image a .overlay::before {
  /* shanticon-grid icon for collections */
  content: "\e61b";
}

.view-collections .shanti-field-body{
  border-top: 1px solid #ddd;
  margin-top: 0.5rem;
  padding-top: 0.4rem;
  line-height: 1.25em;
}

.view-collections .shanti-thumbnail .body-wrap{
  height: 14rem;
  padding-top: 0;
}
 
.shanti-collections .content-section {
  padding-top: 0;
}

#edit-title-wrapper label {
  font-size: 1.25em;
  text-transform: capitalize;
  margin: -4px 8px 0 0;
}

.view-id-collections .shanti-thumbnail-field.shanti-field-title {
    margin-top: 6px;
    font-weight: bold;
}

/**
* --------------------------
* Individual Collections
* --------------------------
*/
.node-collection .field-subcollection label {
  margin: 0;
}

    .node-type-team h2:first-of-type{
      margin-top: 1rem;
      margin-bottom: 0.8rem;
    }




/**
* --------------------------
* Individual A/V pages
* --------------------------
*/

/* add space after collection name */
#av-details .field-name-av-collection {
  margin-bottom: 0.8rem;
  font-size: 1.12em;
}

    #av-details .field-type-taxonomy-term-reference {
      margin: 9px 0px 3px;
    }

    #av-details .field-type-taxonomy-term-reference ul {
      margin: 3px 0px 0px 0px;
    }

/* Metadata on a/v record */
#field_collection_item_field_workflow_full_group_workflow .subgroup {
  float: left;
  width: 33%;
}

    #field_collection_item_field_workflow_full_group_workflow .subgroup p {
      display: inline-block;
    }

.node .content .field-label-inline{
  line-height: 2.7rem;
  font-family: palatino, 'Palatino Linotype', georgia, serif;
}

    .node .content .mb-identifier label, 
    .node .content .field-label-inline .field-label-span {
      color: #333;
      margin: 0;
      font-size: 14px;
      text-transform: capitalize;
    }

    .node .content .field-name-field-recording-location {
      margin: 0 !important;
    }

    .node .content .field-name-field-recording-location .field-label-span {
      color: #333;
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }

    .node .content .field-name-field-pbcore-format-id > .field-items > .field-item {
      display: block;
    }

    .node .content .field-name-field-pbcore-format-id .field-name-field-format-id .field-label,
    .node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-label {
      display: none;
    }

    .node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-item::before {
      content: '(';
    }

    .node .content .field-name-field-pbcore-format-id .field-name-field-format-id-source .field-item::after {
      content: ')';
      clear: both;
    }

.field.field-name-field-format-id.field-type-text.field-label-inline.clearfix {
  float: left;
}

    .field.field-name-field-format-id-source.field-type-text.field-label-inline.clearfix {
      float: left;
      padding-left: 4px;
    }

    /* hiding double display of Publisher label */
    .field-name-field-pbcore-publisher > .field-label {
      display: none;
    }


/**
* -----------------------------
* Technical Metadata Fields
* -----------------------------
*/
.field-name-field-recording-location-new>.field-label-span {
    font-weight: bold;
}

    .field-name-field-recording-location-new .field-items-span, 
    .field-name-field-recording-location-new .field-items-span ul, 
    .field-name-field-recording-location-new .field-items-span li {
        display: inline;
        padding:0px;
    }

.mb-identifier.field.field-label-inline.clearfix, 
.mb-identifier.field.field-label-inline.clearfix * {
    float: none;
}

    .mb-identifier * {
        display: inline-block !important;
    }

.field-name-field-identifier-source, 
.field-name-field-identifier-source .field-items {
    display: inline !important;
}

    .field-name-field-identifier-source .field-item {
        display: inline !important;
        font-weight: bold;
    }

    .field-name-field-identifier, 
    .field-name-field-identifier div {
        display: inline;
    }

    .field-name-field-identifier-source .field-item:after {
        content: ':';
    }


.page-node-edit.node-type-audio .field-name-field-thumbnail-image .image-preview {
  display: none;
}



/** 
* Related Audio-Video Tab 
*/
.av-related-wrapper{
  padding-top:2rem;
}

.av-related-wrapper #related .related-av-nodes {
     padding: 12px;
 }

    .av-related-wrapper #related .panel-group .panel{
       box-shadow: none;
     }

     .av-related-wrapper #related .panel-heading{
       display:none;
     }

    .av-related-wrapper #related .tab-content{
       border:none;
     }
 

/** 
* My Content Pages 
*/
.view-my-content .vbo-views-form fieldset#edit-select {
  float: right;
  width: 65%;
}

    .view-my-content .vbo-views-form fieldset#edit-select legend {
      color: #555;
      font-size: 80%;
      font-family: 'museo-sans-500',helvetica,arial,sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      padding: 12px 0px 0px;
    }

    .view-my-content .vbo-views-form fieldset#edit-select .fieldset-wrapper > .form-item {
      margin-top: -0.3em;
    }

    .view-my-content .vbo-views-form fieldset#edit-select .fieldset-wrapper > .form-item + button {
      margin-top: -8px;
    }

    .view-my-content .vbo-views-form fieldset#edit-select .btn-group {
      margin: 0px;
    }

.view-collections .view-my-content .views-exposed-widgets {
  float: left;
  margin-bottom: 0;
}

    .view-collections .views-exposed-form .views-exposed-widgets {
      min-width: 24rem;
      margin: 0 auto;
      display: inline-block;
    }

    .view-collections .view-my-workflow .views-exposed-widget {
      float: left;
      padding: 0px 12px;
    }
    /* widget singular not plural */
    .view-collections .views-exposed-form .views-exposed-widget { 
      height: 5.5rem;
      margin: 0;
      text-align: left;
      padding: 0 0.5em 0 0;
    }

.view .form-item-operation {
  float: left;
}

    .view .form-item-operation + button {
      margin: 0 0 0 8px;
      vertical-align: top;
    }

.view-my-content .views-table, 
.view-my-collections .views-table, 
.view-my-memberships .views-table, 
.view-my-workflow .views-table {
  width: 100%;
}

    .view-my-content .views-table th,
    .view-my-collections .views-table th,
    .view-my-memberships .views-table th,
    .view-my-workflow .views-table th {
      padding: 6px 12px 6px 3px;
      min-width: 75px;
      font-size: 1em;
    }

    .view-my-content .views-table tr td,
    .view-my-collections .views-table tr td,
    .view-my-memberships .views-table tr td,
    .view-my-workflow .views-table tr td {
      padding: 6px 12px 6px 3px;
      min-width: 75px;
      font-size: 1em;
    /* white-space: nowrap; ---- pushing the table too wide on myworkflow page */
    }

    .view-my-workflow .views-table tr td {
      font-size: 0.88em;
    }

    .view-my-workflow .views-table tr td.views-field-title {
      font-size: 1em;
    }

    .page-my-content-workflow .views-exposed-widgets {
      margin: 1rem;
    }




/**
* --------------
* Modal Popup
* --------------
*/
#modalContent{
  box-shadow: 0 0 10px #aaa;
  border-radius: 1rem;
  z-index: 1000 !important;
  min-width: 550px;
  max-height:280px;
  overflow-x:hidden
}

@media (max-width: 600px) { 
    
    #modalContent {
      position: fixed !important;
      min-width: 320px;
      top: 12% !important;
      bottom: 12% !important;
      right: 4% !important;
      left: 4% !important;
    }
}


/* kaltura upload video */
div.ctools-modal-content {
  margin: 0 auto;
  width: 100% !important;
  max-width: 550px !important;
  max-height: 350px !important;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

    div.ctools-modal-content .modal-content {
      width: 100% !important;
      max-width: 550px !important;
      padding: 2rem 9%;
      box-shadow:none !important;
      border:none !important;
      background:transparent;
    }

    div.ctools-modal-content button.btn.btn-primary{
      margin-left: 50%;
      margin-top: 3rem;
      position: relative;
      left: -6em;
      padding: .5rem 2rem .4rem;
    }

    div.ctools-modal-content .btn.btn-delete.btn-primary{
      margin-top:0 !important;
    }

    div.ctools-modal-content button#edit-submit--5.btn.btn-primary.form-submit{
      padding: 0.4rem 1.8rem 0.2rem;
      font-size: 0.75em;
    }

    div.ctools-modal-content button#edit-media-remove-button.btn.btn-primary{
      padding: 0.7rem 0.5rem 0.7rem;
      margin-top:-0.5rem !important;
    }

div.ctools-modal-content div#edit-actions--3.form-actions.form-wrapper{
  margin-top:4rem;
}
/*
.modal-header button.close{
  position: relative;
  top: -1.5rem;
  left: 1rem;
}

.modal-content .messages.status{
  display:none;
}
*/
div.ctools-modal-content .modal-header{
  padding: 1.5rem 3rem;
  background-color: #2fbebc !important;
  border-radius: .7rem 0.7rem 0 0;
}

    div.ctools-modal-content .modal-title{
      font-size: 150%;
      font-weight: normal;
      font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
      text-shadow: 0 0 5px #888;
    }

div.ctools-modal-content a.close{
  position: relative;
  right: -1rem;
  top: -0.5rem;
  height: 1rem;
  font-size: 0.75em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 3px #888;
  letter-spacing: 0.1rem;
  float: right;
  white-space: nowrap;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  opacity:0.85;
}

    div.ctools-modal-content a.close:hover{
      opacity:1;
    }

    div.ctools-modal-content a.close::after{
      content:'X';
      position:relative;
    }

    div.ctools-modal-content a.close img{
      display:none;
    }

input#edit-media-upload.form-file{  }

    button#edit-media-upload-button{
      margin: 7rem 50% 0;
      position:relative;
      left: -4.5rem;
    }

div#edit-actions--3.form-actions.form-wrapper{
  margin: 2rem auto 0;
  text-align: center;
  font-size: 1.25em;
}



/** 
* KALTURA Player 
*/ 
.kaltura-embed{
   min-height:400px;
}

    .kaltura-embed > div > div{
      min-height:400px;
      max-height:515px;
      border-width:0;
    }

    .audio-video .kaltura-embed,
    .audio-video .kaltura-embed > div > div{
      min-height: 100%; 
    }

    .kaltura-thumb-wrap {
      clear: none;
      display: inline-block;
    }

    .views-table .kaltura-thumb img {
      height: 50px;
    }

    .kaltura_status_ok {
      background-image: none !important;
      border: none !important;
    }

    object.KalturaDynamicPlayer {
      width: 100% !important;
    }

    fieldset.form-wrapper .f-set{
      border:none; /* video node edit page */
    }

    fieldset.form-wrapper .f-set > table{
      margin-left:2rem;  /* in node-video admin edit page */
    }




/** 
* VIDEO / Audio : Metadata 
* 
* Container '.avdesc' within '.video-row' contains two columns
* - left column: date, author, rating, social
* - right column: video description
* 
*/

.video-row {
  margin-top: 0.1rem;
}

.avdesc {
  margin: 0;
  padding-bottom:1.5rem;
  max-width: 800px;
}
/* BEGIN right desc col */
.video-overview {
  /* padding-bottom: 2rem; */
  padding-left: 0 !important;
  padding-right: 0 !important;
}

    .video-overview  .show-more {
      position: relative;
      top: -0.7rem;
      border: 1px double #ccc;
      border-width: 3px 0;
      padding: .3rem 0 .2rem;
      text-align: center;
      margin-top: 2rem;
    }

    .video-overview .show-more a{
      font-size:0.88em;
      display: block;
    }
    /*.video-overview .desc-readmore {
      margin: -10px 0 20px;
    } */

    .video-overview > h5 {
      text-transform: uppercase;
    }
/* BEGIN left metadata column */
.avinfo {
  padding-left: 0px !important;
  padding-top:1rem;
}

    .node-type-audio .avinfo{
      width: 33.33333333% !important;
    }

    .node-type-audio .video-overview{
      padding-right: 0 !important;
      width: 75% !important;
    }

    .node-type-audio.has-transcript .avinfo,
    .node-type-audio.has-transcript .video-overview{
      width: 100% !important;
    }


.avinfo .trans-btn {
  padding-bottom: 5px;
}

    .avinfo .btn.btn-primary.btn-icon {
      margin: 0 0 5px;
    }

    .avinfo > h5:first-child {
      margin: 0;
    }

    .avinfo > h5 {
      margin-bottom: 0.3rem;
    }

    .avinfo .avauthor{
      overflow:hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
      margin-right:0.5rem;
      font-size:90%;
    }

    .avinfo .avauthor .icon.shanticon-agents::before{
      margin-right:0.5rem;
    }

    .avdate .icon,
    .avduration .icon {
      margin-right: 0.25em;
    }

.fivestar-widget .star{
  width: 17px;
  height: 17px;
}
    .fivestar-average-stars .star,
    .fivestar-average-stars .star a,
    .fivestar-average-stars .star span {
      font-family: 'FontAwesome';
      color: #ccc;
      text-indent: 0;
      display: inline-block;
      font-size: 1em;
      letter-spacing: 0.75em;
      background-image: none !important;
      border-bottom: none;
    }

    .fivestar-average-stars .star a:hover,
    .fivestar-average-stars .star a:active {
      color: #5a65d1;
      border-bottom: none;
    }

    .fivestar-average-stars .star a::before,
    .fivestar-average-stars .star span::before {
      content: '\f005';
      background-image: none !important;
    }

    .fivestar-average-stars .star.on a,
    .fivestar-average-stars .star span.on {
      color: #555;
      background-image: none !important;
    }

    .fivestar-static-form-item .description {
      padding-left: 0;
    }

    .fivestar-basic div.fivestar-widget .cancel,
    .fivestar-basic div.fivestar-widget .cancel a {
      color: #777;
      font-size: 0.88em;
      width: 1.1rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      letter-spacing: normal;
      font-family: 'shanticon';
      text-indent: 0;
      background-image: none;
      border: none;
    }

    .fivestar-basic div.fivestar-widget .cancel a:hover,
    .fivestar-basic div.fivestar-widget .cancel a:active {
      color: red;
    }

    .fivestar-basic div.fivestar-widget .cancel a::before {
      content: '\e60f';
    }

.avshare div h5 span {
  color: #5a65d1;
  font-size: 0.9em;
  font-weight: normal;
}

    .avshare ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: 5px;
    }

    .avshare ul li {
    }

    .avshare ul li a {
      color: #555;
      font-weight: bold;
      border-bottom: none;
    }

    .avshare ul li a:hover {
      border-bottom: none;
    }

    .avshare ul li a .icon {
      color: #5a65d1;
      font-size: 1.5em;
      margin-right: 3px;
      position: relative;
      top: 3px;
    }




.node-video > h2 {
  line-height: 1.75em;
  font-size: 1.18em;
  position: relative;
  top: 0.3rem;
}


ul.inline li a,
.compact-link a,
ul.links.inline li a{
  color: #5a65d1;
  text-transform: capitalize;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  font-weight: bold;
}
    /* links at bottom of media nodes (add comments, add to favs) */
    ul.links.inline {
      margin: 0 0 2rem 2rem;
      float:left;
    }

    .node-video ul.links.inline a {
      font-size: 0.93em;
    }





.field-name-field-tags {
  padding: 10px 10px 0;
}

    .field-name-field-tags > div {
      float: left;
    }

    .field-name-field-tags div {
      display: inline-block;
    }

    .field-name-field-tags .field-item a {
     /*display:inline-block;*/
      float: left;
      padding: 0.06em 0.5em;
    }

    .field-item-span {
      display: inline;
    }




.avplace .field,
.avplace .field .field-items,
.avplace .field .field-item {
  display: inline;
}

    .avsubjects .shanticon-subjects::before {
      float: left;
      margin: 2px 5px 0 0;
    }

    .avsubjects,
    .avplace {
      margin-top: 10px;
    }

    .avplace,
    .avcollection{
      font-size: 1em;
    }

    .avsubjects .field-items-span,
    .avplace .field-items-span {
      display: inline;
    }

    .field-name-field-pbcore-description > .field-items > .field-item {
      margin-bottom: 12px;
    }

    .field-name-field-pbcore-title.field-type-field-collection.field-label-hidden {
      padding: 5px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #ddd;
    }

    .form-item.form-type-select.form-item-spaces-features-transcripts-settings {
      width: 7em;
    }






/* New node place markup in video overview */
.avplace .field-items-span ul {
  display: inline;
  margin: 0;
  padding: 0;
}

/* Tibetan in av descriptions*/
.avpbcoredesc div.bo p {
  font-size: 1.75rem;
}

/** Tibetan text areas in node form **/
.node-form .bo textarea {
  font-size: 1.75rem;
}

.pb-desc-label {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}

.field-collection-item-field-pbcore-description .pb-desc-label.langname {
    font-size: 1.25rem;
}






h3.node-desc {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

    h4.node-desc-type {
      text-transform: uppercase;
      font-size: 0.8em;
    }

    .avnode-details-buttons {
      float: right;
      position: relative;
      top: -1rem;
      right: 2rem;
     /* hide buttons - temp */
      display: none !important;
    }

    .avnode-details-buttons .btn.btn-sm {
      width: 14em;
      text-align: center;
      font-size: 0.62em;
      font-family: 'museo-sans-700',helvetica,arial,sans-serif;
      font-weight: bold;
      font-weight: 700;
    }



/* play button on video player */
.largePlayBtn {
  margin: -2.5rem 0 0 -3rem;
  padding: 1rem 2rem;
  border: 1px solid #555;
  background-color: #000;
}

    .largePlayBtn:hover {
      background-color: #000;
    }

    .largePlayBtn::before {
      content: '\e647';
      font-size: 1rem;
      font-family: 'shanticon';
    }

    .largePlayBtn::after {  }
/**
*** END video view */





/* newer... oct 29, 2015 view-display-id-page_list */
.page-collections .views-field-field-images{
  display: inline-block;
  float: left;
}

    .page-collections .views-field-field-images::after{
      content: '.';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .page-collections .views-field-field-images::before,
    .page-collections .views-field-field-images::after{
      display: table;
      content: '';
    }

.page-collections .views-field-title{
  margin-top: 2rem;
}
/**
*** END temp fix */



/*-------------------------*/
/***** BEGIN min-width *****/
/*-------------------------*/
@media screen and (min-width:500px) {

  .shanti-filters{
    height: 5.2em;
  }

    .shanti-filters .control-box-cell-pager{
      width:50%;
      margin-top: -6.5rem;
    }

    /*.logged-in.front .shanti-filters .control-box-cell-pager {
      margin-top: -8rem;
    }*/
    /*
    .page-collections .shanti-filters .control-box-cell-pager{
      width: 60% !important;
    }*/
    .page-collections .shanti-filters .control-box-cell-header{
      width: 100% !important;
    }
}
  
@media screen and (min-width:600px) {

}

@media screen and (min-width: 768px) {

  .page-collections .shanti-filters .control-box-cell-header,
  .page-collections .shanti-filters .control-box-cell-filters{
    width:33% !important;
  }

    .page-collections .shanti-filters .control-box-cell-pager{
      width: 40% !important;
    }

    .shanti-filters .control-box-cell-header p {
    	display: inline-block;
    	font-size: 90%;
    }

  /**
  * Media Page layout 
  */
  .av-main-video-section {
    padding-right: 0 !important;
    width:70% !important;
  }

    .has-transcript .av-main-video-section {
      min-height:750px;
    }
  
    .node-type-video.has-transcript .av-main-video-section {
      width:50% !important;
    }

    .node-type-audio .av-main-video-section {
      width: 100% !important;
    }

    .node-type-audio.has-transcript .av-main-video-section {
      width: 41.66666667% !important;
      min-height:600px;
    }

    .node-type-audio .avinfo{
      width: 25% !important;
    }

    .node-type-audio .video-overview{
      padding-right: 0 !important;
      width: 66.66666667% !important;
    }

    .node-type-audio.has-transcript .video-overview{
      width: 100% !important;
    }

}

@media screen and (min-width: 992px) {

    .shanti-filters{
      height: 3.25em;
    }

      .front .shanti-filters  .control-box-cell-pager table.pagerer {
        margin-top: 0.4rem;
      }

      .shanti-filters .control-box-cell-header {
        padding-top: 0.25rem;
      }

      .shanti-filters .control-box-cell-pager {
        margin-right: 0;
        margin-top: 0.5rem;
      }

      .shanti-filters .control-box-cell-pager,
      .shanti-filters .control-box-cell-filters{
        width: 33.333%;
      }
/*
      .logged-in.front .shanti-filters .control-box-cell-pager{
        width: 50%;
        margin-top:-8rem;
      }
      .logged-in.front .shanti-filters .control-box-cell-filters{
        width:100%;
      }
*/
    #sidebar-second,
    .region-sidebar-second{
      background-color: #fff;
      border-radius: 0.3rem 0 0 0;
    }
} 

@media (min-width:1100px) {

}

@media (min-width:1150px) {

}

@media screen and (min-width: 1200px) {

  /*.logged-in.front .shanti-filters .control-box-cell-pager table.pagerer{
    margin-top:1.4rem;
  }  */
} 

@media (min-width:1250px) {

  .shanti-filters .control-box-cell-pager,
  /*.logged-in.front .shanti-filters .control-box-cell-filters,
  .logged-in.front .shanti-filters .control-box-cell-pager*/{
    width:33%;
  }

    /*.logged-in.front .shanti-filters .control-box-cell-header {
      width:25%;
    }

    .logged-in.front .shanti-filters .control-box-cell-pager{
      margin-top: -0.5rem;
    }
    */
}

@media screen and (min-width: 1280px) {
  
}

@media (min-width:1400px) {

}










/*** BEGIN iframe */
.in-frame header.header-banner,
.in-frame header.banner .page-title .icon,
.in-frame header.banner .breadwrap, 
.in-frame header.banner .banner-tabs,
.in-frame #search-flyout,
.in-frame footer.footer,
.in-frame #admin-footer,
.in-frame #admin-menu{
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}

    body.in-frame.html {
      margin-top: 0 !important;
      background: #e0e0e0 !important;
    }

    .in-frame header.col-xs-12.titlearea.banner, 
    .in-frame header.col-xs-12.titlearea.banner.has-tabs,
    .in-frame header.col-xs-12.titlearea.banner > div{
      color: #444 !important;
      background-color: transparent !important;
      box-shadow: none !important;
      border: none !important;

    }

    .in-frame .titlearea { height: 2.75rem; }
    .in-frame .titlearea.has-tabs { margin-bottom:0; }

    .in-frame .titlearea .page-title-text {
      text-shadow: none !important;
      color: #444 !important;
      padding-left: 12px !important;
      box-shadow: none !important;
      border: none !important;
      line-height: 1.8em !important;
    }

    .in-frame .titlearea .page-title {
      padding-top: 0px;
      margin: 0 0 0 0.5rem;
    }

    .in-frame .tab-content.container-fluid,
    .in-frame .main-wrapper.container-fluid,
    .in-frame .node-type-audio .tab-pane.main-col > div{
      max-width: 100% !important;
      padding-right:0;
      padding-left:0;
    }

    .in-frame .av-main-video-section { padding-left:0; }
    .in-frame .av-main-transcript-section { padding-right:0; }

    /** Hide JIRA feedback button **/
    .in-frame .atlwdg-trigger.atlwdg-SUBTLE { display: none; }
     


    /*--- BEGIN iframe parent target subtheme colors -----*/
    .in-frame .nav-tabs.nav-justified>li.active a,
    .in-frame .nav-tabs.nav-justified>li.active a:hover,
    .in-frame .nav-tabs.nav-justified>li.active a:active{
      background: #4ca6fb !important;
    }

    .in-frame .nav-tabs.nav-justified>li.active{
      border-top-color: #4ca6fb !important;
    }

    .in-frame .bootstrap-select.btn-group.show-tick .dropdown-menu>li.selected>a .check-mark,
    .in-frame .bootstrap-select.btn-group.show-tick .dropdown-menu>li.selected>a:hover .check-mark,
    .in-frame .bootstrap-select.btn-group.show-tick .dropdown-menu>li.selected>a:active .check-mark,
    .in-frame .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:hover .icon-ok.check-mark::before, 
    .in-frame .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .icon-ok.check-mark::before,
    .in-frame .btn-group-transcript .bootstrap-select.btn-group .dropdown-menu li>a.opt .glyphicon.glyphicon-download-alt{
      color: #4ca6fb !important;
    }

    .in-frame.page-places .nav-tabs.nav-justified>li.active::before,
    .in-frame.page-subjects .nav-tabs.nav-justified>li.active::before{ color: transparent; }

    @media screen and (min-width: 768px) {

      .in-frame.page-places .nav-tabs.nav-justified>li.active::before{  
        color: #4ca6fb !important;
      }

      .in-frame.page-subjects .nav-tabs.nav-justified>li.active::before{  
        color: #dc3c47 !important;
      }     
    }
/**
*** END iframe */







/**
* --------------
* BEGIN Carousel
* --------------
*/
/* Fonts above carousel */
.front .field-type-text-with-summary h4 {
  display: none;
}

    .front .field-type-text-with-summary p { 
      padding:0 2rem;
    }

    /* hiding the sidebar on frontpage at 1150px not default col-md-9 to improve carousel display */
    .logged-in.front .content-section.col-xs-12.col-md-9{
      width:100% !important;
    }

/**
* Carousel Media Breakpoints 
*/
@media (min-width:1100px) {

  .carousel-main-image{
    height: 16em;
  }
}

@media (min-width:1170px) {
  /* hiding the sidebar on frontpage at 1150px not default col-md-9 to improve carousel display */
  .logged-in.front .content-section.col-xs-12.col-md-9{
      width:75% !important;
  }
  .logged-in .carousel .carousel-main-image{
    width:40%;
  }

  .logged-in .carousel .carousel-main-content{
    width:60%;
  }
}

@media (min-width:1200px) {

  .logged-in .carousel-description p {
    font-size: 1em;
  }
}  

@media (min-width:1250px) {

  .logged-in .carousel .carousel-main-image{
    width:34%;
  }

  .logged-in .carousel .carousel-main-content{
    width:66%;
  }
}



/*
@media screen and (min-width:500px) {

    .logged-in .carousel-title {
      font-size: 1.25em;
    }
}
  
@media screen and (min-width:600px) {  }

@media screen and (min-width: 768px) {

    .logged-in .carousel-title {
      font-size: 1.38em;
    }

    .logged-in .carousel .carousel-main-image{
      width:38%;
    }

    .logged-in .carousel .carousel-main-content{
      width:62%;
    }

    .logged-in .carousel-description p {
      font-size: 1em;
    }
}

@media screen and (min-width: 992px) {

    .logged-in .carousel .carousel-main-image{
      width:45%;
    }

    .logged-in .carousel .carousel-main-content{
      width:55%;
    }

    .logged-in .carousel .byline {
      font-size: 70%;
      margin: -0.1em 0 .44em;
    }
} 

@media (min-width:1100px) {

    .logged-in .carousel .carousel-main-image{
      width:40%;
    }

    .logged-in .carousel .carousel-main-content{
      width:60%;
    }

    .logged-in .carousel-title {
      font-size: 1.5em;
    }

    .logged-in .carousel .byline {
      font-size: 80%;
      margin: -0.2em 0 .63em;
    }
}

@media (min-width:1150px) {

    .logged-in .carousel .carousel-main-image{
      width:38%;
    }

    .logged-in .carousel .carousel-main-content{
      width:62%;
    }
}

@media screen and (min-width: 1200px) {

    .logged-in .carousel .carousel-main-image{
      width:36%;
    }

    .logged-in .carousel .carousel-main-content{
      width:64%;
    }
} 

@media (min-width:1250px) {

    .logged-in .carousel .carousel-main-image{
      width: 35%;
    }

    .logged-in .carousel .carousel-main-content{
      width: 65%;
    }

    .logged-in .carousel-main-image.col-xs-12.col-sm-5.col-md-4{
      height: 13.82em;
    }
}

@media screen and (min-width: 1280px) {
  
  .logged-in .carousel-main-image.col-xs-12.col-sm-5.col-md-4{
    height: 12.25em;
  }
}

@media (min-width:1400px) {

    .logged-in .carousel .carousel-main-image{
      width: 28%;
    }

    .logged-in .carousel .carousel-main-content{
      width: 72%;
    }
}
*/

